.ol-section-all{
	text-align:center;
	margin-top:$spacing60;
}

.ol-btn{
	color:$color-white;
	padding:$spacing10 $spacing15;
	display:inline-block;
	border:1px solid $color-blue-soft;
	background-color:$color-blue-soft;
	text-align:center;
	box-sizing:border-box;
	cursor:pointer;
	border-radius:3px;
	box-shadow:0px 2px 3px rgba(0,0,0,.15);
	&:hover{
		background-color:$color-ungu;
		color:$color-white;
		border-color:$color-ungu;
	}
}

.ol-btn--secondary{
	background-color:$color-grey-bg;
	border-color:$color-grey-bg;
	color:$color-grey-font;
	&:hover{
		border-color:$color-ungu;
		color:$color-white;
	}
}

.ol-btn--third{
	background-color:$color-grey-bg;
	border-color:$color-grey-bg;
	color:$color-grey-font;
	&:hover{
		border-color:$color-ungu;
		color:$color-white;
	}
}

.ol-link{
	color:$color-blue-soft;
	&:hover{
		color:$color-ungu;
	}
}