

.ol-input-label{
	font-size:12px;
	margin:0 0 $spacing5;
	color:$color-blue-soft;
	display:block;

	i{
		color:red;
		margin-right:2px;
	}
}

.ol-input{
	padding:$spacing10 $spacing15;
	display:block;
	box-sizing:border-box;
	width:100%;
	border-radius:3px;
	height:46px;
	border:1px solid $color-grey-font;
	transition:all .3s ease;

	&:focus{
		border-color:$color-blue-soft;
	}
}


.ol-input-file{
	padding-right:$spacing60;
}



/*.ol-input-box{
	margin-bottom:$spacing15;
	float:left;
	padding:0 $spacing15;
	box-sizing:border-box;
	width:100%;
}*/


.ol-input-qty{
	background-color:$color-grey-bg;
	display:inline-block;
	border-radius:3px;

	.ol-input{
		width:30px;
		background-color:$color-grey-bg;
		padding:10px 0;
		text-align:center;
		display:inline-block;
	}
}

.ol-input-qty__btn{
	padding:10px;
	display:inline-block;
	cursor:pointer;
}

.ol-input--readonly{
	.ol-input{
		border-color:#ccc;
		color:#aaa;
	}

	.ol-input-label{
		color:#aaa;
	}

	.ol-fa{
		color:#aaa;
	}
}

.ol-select-box{
	padding:0;
	margin:0;
	overflow:hidden;
	box-sizing:border-box;
	position:relative;
	vertical-align:middle;
	width:100%;
	&:after{
		position:absolute;
		top:18px;
		right:10px;
		border-style:solid;
		border-width:5px 5px 0;
		border-color:$color-black transparent;
		content:"";
	}
}

.ol-input-select,.ol-input--select,.ol-input--select-normal{
	width:100%;
	height:auto;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding:0 $spacing10;
	&:focus{
		outline:none;
	}
}


.ol-input--select{
	height:30px;
	border-color:#ccc;
	color:#888;
	border-radius:0;
}


.ol-input--select-normal{
	height:46px;
}


.ol-input-textarea{
	height:80px;
	padding:$spacing15;
}


.ol-input-attach{

}


.ol-input-attach__link{
	color:$color-black;
}


.ol-input--radio-check{
	position:absolute;
    opacity:0;
    cursor:pointer;
}

.ol-input--radio-checkmark{
	position: absolute;
    top:5px;
    left:0;
    height:15px;
    width:15px;
    box-sizing:border-box;
    transition-duration:0.3s;
    border:1px solid $color-black;
    background-color:$color-white;
    &.ol-input--radio-checkmark--radio{
    	border-radius:3px;
    }
}

/* On mouse-over, add a grey background color */
.ol-input--radio-check:hover ~ .ol-input--radio-checkmark,.ol-input--radio-check:disabled ~ .ol-input--radio-checkmark {
    background-color:$color-black;
}

/* When the radio button is checked, add a blue background */
.ol-input--radio-check:checked ~ .ol-input--radio-checkmark {
    background-color:$color-black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.ol-input--radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.ol-input--radio-check:checked ~ .ol-input--radio-checkmark:after,.ol-input--radio-check:disabled ~ .ol-input--radio-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.ol-input--radio-checkmark:after {
	left:1px;
	right:0;
	margin:0 auto;
	content:"✔";
	color:$color-white;
	font-size:11px;
}

.ol-input--radio-checkmark--radio:after{
	border-radius:100%;
	width:8px;
	height:8px;
	background:$color-black;
	top:6px;
}

.ol-input--radio-checkmark-check:after{
	width:5px;
    height:10px;
    border:solid $color-black;
    border-width:0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top:2px;
}













.select2-container--default .select2-selection--single{
	@extend .ol-input;
	padding-right:35px;
}



.select2-selection__arrow{
	top:10px !important;
}

.ol-dashboard__content-form-list-item-ico--prd .select2-selection__arrow{
	display:none;
}


.ol-select-box--hide{
	.select2-container--default{
		width:100% !important;
	}
}

.select2-selection--multiple{
	@extend .ol-input;
	width:100% !important;
	height:auto;
	min-height:46px !important;
	padding:$spacing5 $spacing10;
}













.checkbox{
	margin:0;
	
	/* Base for label styling */
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		padding-left: 1.95em;
		cursor: pointer;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
	content: '';
		position: absolute;
		left: 0; top: 0;
		width: 1.25em; height: 1.25em;
		border: 1px solid #ccc;
		background: #fff;
		box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
	}
	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: "✔";
		position: absolute;
		top: .17em; left: .13em;
		font-size: 1.3em;
		line-height: 0.8;
		color: $color-blue-soft;
		transition: all .2s;
	}
	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}
	/* disabled checkbox */
	[type="checkbox"]:disabled:not(:checked) + label:before,
	[type="checkbox"]:disabled:checked + label:before {
		box-shadow: none;
		border-color: #bbb;
		background-color: #ddd;
	}
	[type="checkbox"]:disabled:checked + label:after {
		color: #999;
	}
	[type="checkbox"]:disabled + label {
		color: #aaa;
	}
	
	/* hover style just for information */
	label:hover:before {
	border:1px solid $color-blue-soft !important;
	}
	
	
	
}