.popup{
	overflow:hidden;
}


.ol-popup{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:9999;
	display:none;
	&:after{
		position:absolute;
		background-color:rgba(15, 100, 137, .5);
		content:"";
		left:0;
		top:0;
		width:100%;
		height:100%;
	}


	&.show{
		display:block;
	}
}

.ol-popup-wrapper{
	@extend .ol-layout--middle;
	max-width:900px;
	background-color:$color-white;
	z-index:1000;
	box-sizing:border-box;
	padding:$spacing30;
	box-shadow:0px 2px 3px rgba(0,0,0,.15);
	border-radius:15px;
}

.ol-popup-box{
	position:relative;
	
	&.ol-popup-box--address{
		overflow:hidden;
		max-height:600px;
		overflow-y:auto;
		/*padding-right:$spacing15;*/

		-ms-overflow-style:none;
  		scrollbar-width:none;

		.ol-popup-box__close{
			right:15px;
		}

	}

	&.ol-popup-box--address::-webkit-scrollbar{
		 display: none;
	}


	.ol-dashboard__content-table-wrapper{
		padding-top:0;
	}
}

.ol-popup-box__close{
	position:absolute;
	right:0;
	top:0;
	cursor:pointer;
	color:#ccc;
	font-size:12px;
	z-index:2;
	&:hover{
		color:$color-grey-font;
	}
}

.ol-popup-box__form{
	margin:0 -15px;

	.ol-product-content__sidebar-item-list-item-link{
		font-size:$font14;
		padding-top:4px;
	}
}

.ol-popup-box__title{
	font-size:$font16;
	padding-bottom:$spacing15;
	border-bottom:1px solid $color-ungu;
	margin-bottom:$spacing30;
}



.ol-dashboard__content-table-wrapper--popup{
	padding-top:0;
	.dataTables_length,.dataTables_filter{
		display:none;
	}
}





.ol-dashboard__content-table-info{
	@extend .add-fix;
}

.ol-dashboard__content-table-info-item{
	@extend .ol-inline;
	width:25%;
	box-sizing:border-box;
	padding:0 $spacing15 $spacing15 0;

	strong{
		display:block;
	}

	.ol-table__star,.ol-table__star-text{
		text-align:left;
	}
}

.ol-dashboard__content-table-data{
	@extend .add-fix;
	margin:$spacing15 -15px $spacing30;

	&.ol-dashboard__content-table-data--prd{
		.ol-dashboard__content-table-data-item{
			width:20%;
		}
	}
}

.ol-dashboard__content-table-data-item{
	@extend .ol-inline;
	width:25%;
	box-sizing:border-box;

	h4,h3{
		color:$color-grey-font;
		font-size:$font16;
	}

	h4{
		font-size:14px;
	}

	h3{
		margin:$spacing15 0;
	}
}

.ol-dashboard__content-table-data-item-wrapper{
	padding:$spacing15;
	border:1px solid $color-grey-bg;
	text-align:center;
	box-sizing:border-box;
	margin:0 $spacing15;
}

.ol-dashboard__content-text{
	margin-bottom:$spacing30;
}