.ol-dashboard__content-table--list{
	.ol-dashboard__content-table{
		margin-bottom:$spacing30;
		&:last-child{
			margin-bottom:0;
		}
	}
}


.ol-dashboard__content-table-top{
	@extend .add-fix;
	padding-bottom:$spacing30;

	.ol-btn,.ol-link{
		float:right;
	}
}

.ol-dashboard__content-table-top-title{
	float:left;
	font-size:$font18;
	color:$color-black;
	font-weight:400;
}

.ol-dashboard__content-table-top-title--sub{
	font-size:$font14;
	color:$color-blue-soft;
}


.ol-dashboard__content-table-top-switch{
	font-size:$font14;
	color:$color-grey-font;
	margin-left:$spacing15;


	.switch {
	  position: relative;
	  display: inline-block;
	  width: 30px;
	  height: 15px;
	  top:3px;
	  margin:0 5px;
	}

	.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 8px;
	  width: 8px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}


	.slider:after{
		position: absolute;
	  	content: "Tidak Aktif";
	  	top:-3px;
	  	left:40px;
	  	width:80px;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(14px);
	  -ms-transform: translateX(14px);
	  transform: translateX(14px);
	}

	input:checked + .slider:after {
	  content:"Aktif";
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
}


.ol-dashboard__content-table-top-filter-btn{
	color:$color-ungu;
	font-size:$font14;
	margin-left:$spacing15;
	cursor:pointer;


	&:hover{
		color:$color-blue-soft;
	}
}



.ol-dashboard__content-table-top-search{
	@extend .add-fix;
	clear:left;
	position:relative;
	padding-top:$spacing30;

	.ol-fa{
		position:absolute;
		top:42px;
		left:15px;
		font-size:18px;
	}

	.ol-input{
		width:78%;
		@extend .ol-inline;
		padding-left:$spacing45;
		border:0;
		background-color:$color-grey-bg;
		margin-right:2%;
	}

	.ol-btn{
		width:20%;
	}
}


.ol-dashboard__content-table-filter{
	height:0;
	overflow:hidden;
	transition: .3s;

	&.ol-dashboard__content-table-filter--show{
		/*display:block;*/
		height:205px;
		padding-bottom:$spacing30;
	}

	.ol-dashboard__content-form-list{
		margin-top:$spacing5;
	}

	.ol-dashboard__content-form-list-item.ol-dashboard__content-form-list-item--half{
		width:33.3333%;
	}

	.ol-dashboard__content-form-list-item.ol-dashboard__content-form-list-item--half2{
		width:50%;
	}
}


.ol-dashboard__content-table-filter--select{
	height:auto;
}


.ol-dashboard__content-table-wrapper-list{
	.ol-dashboard__content-table-wrapper{
		display:none;
		border:0;
		padding:0;
		&.show{
			display:block;
		}
	}
}

.ol-dashboard__content-table-check{
	display:none;
	.ol-select-box{
		display:inline-block;
		width:150px;
		margin-left:$spacing5;
	}

	.ol-btn-group{
		display:inline-block;
		margin-left:$spacing5;
	}
}


.ol-dashboard__content-table-wrapper{
	border-top:1px solid $color-grey-bg;
	border-bottom:1px solid $color-grey-bg;
	padding:$spacing30 0;


	select{
		width:70px;
		border:1px solid $color-grey-font;
		padding:$spacing5;
		box-sizing:border-box;
		border-radius:3px;
		overflow:hidden;
	}

	input{
		display:inline-block;
		width:50%;
		border:1px solid $color-grey-font;
		padding:$spacing5;
		box-sizing:border-box;
		border-radius:3px;
		&:focus{
			border-color:$color-ungu;
		}
	}
}


.ol-dashboard__content-table-list{
	@extend .add-fix;
	margin:0 -60px;
	li{
		float:left;
		width:50%;
		margin-bottom:$spacing15;
		box-sizing:border-box;
		padding:0 $spacing60;
		@extend .add-fix;
	}

	span{
		float:right;
		width:70%;
		padding-left:$spacing5;
		box-sizing:border-box;
		text-align:right;
	}
	strong{
		float:left;
		width:30%;
	}

	a{
		color:$color-blue-soft;
		&:hover{
			color:$color-ungu;
		}
	}


}


.ol-table{
	width:100%;
	min-width:800px;
	padding-top:$spacing30;
	margin-bottom:$spacing30 !important;


	.odd{
		background-color:$color-grey-bg;
	}


	.ol-number{
		display:block;
		text-align:right;
	}


	.fa-image,.fa-file-alt{
		color:$color-ungu;
	}

	.fa-edit{
		color:#f7b20d;
	}

	.fa-trash-alt{
		color:$color-red;
	}

	.fa-cog{
		color:$color-black;
	}

	.fa-boxes{
		color:$color-ungu;
	}

}

.ol-table thead th{
	font-weight:400;
	border-top:1px solid #111;
}

.ol-table thead th,.ol-table tbody td{
	text-align:center;
	padding:$spacing15 !important;

	&:nth-child(2){
		text-align:left;
	}
}

.ol-table tbody .selected{
	background-color:rgba(15, 100, 137, .3) !important;
}

.ol-table tbody td{
	vertical-align:top;
	&.select-checkbox{
		&:before{
			margin-top:0 !important;
		}

		&:after{
			margin-top:-4px !important;
		}
	}
}

.ol-table__ico{
	margin-left:$spacing5;
	width:20px;
	text-align:center;

	&:first-child{
		margin-left:0;
	}
}

.ol-table__star{
	text-align:center;
	.far--on{
		color:#ffd600;
	}

	.far--off{
		color:#ccc;
	}

	.far--half{

	}
}

.ol-table__star-text{
	text-align:center;
	font-size:11px;
}

.ol-table__popup-link{
	display:block;
}

.ol-table__color{
	@extend .ol-inline;
	vertical-align:middle;
	width:30px;
	height:15px;
	margin-right:$spacing5;
}


.ol-table__hover{
	position:relative;
	cursor:pointer;

	.ol-table__hover-dd{
		display:none;
	}

	&:hover{

		.ol-table__hover-dd{

			z-index:2;
			display:block;
			position:absolute;
			top:100%;
			left:0;
			width:100%;
			background-color:#fff8e8;
			padding:$spacing15;
			box-shadow:0px 1px 3px rgba(0,0,0,0.05);


			&:after{
				position:absolute;
				content:"";
				border-style:solid;
				border-width:0 10px 10px;
				border-color:#fff8e8 transparent;
				top:-10px;
				left:15px;
			}


			.ol-table__product{

				div{
					float:left;
					width:70%;
					margin-left:$spacing15;
					text-align:left;
					line-height:21px;
				}

				img{
					width:50px;
					height:50px;
				}

				p{
					&:first-child{
						color:$color-blue-soft;
					}
				}
			}

		}
	}
}

.ol-table__product{
	@extend .add-fix;
	text-align:left;

	figure{
		float:left;
		overflow:hidden;
	}

	img{
		width:30px;
		height:30px;
		background-color:$color-white;
	}

	h3{
		float:left;
		width:70%;
		font-size:$font14;
		margin-left:$spacing10;
		overflow:hidden;
		text-align:left;
	}

	a{
		display:block;
		color:$color-grey-font;

		&:hover{
			color:$color-ungu;
		}
	}

	span{
		color:$color-grey-font;
		font-size:12px;
		font-weight:400;
	}

}

.ol-table__30{
	width:30px !important;
}

.ol-table__40{
	width:60px !important;
}

.ol-table__100{
	width:100px !important;
}

.ol-table__150{
	width:180px !important;
}

.ol-table__red{
	color:$color-red;
}

.ol-table__yellow{
	color:#d9a70f;
}

.ol-table__green{
	color:green;
}


.ol-table--default{
	border:1px solid #ccc;
	padding-top:0;

	thead th{
		border:0;
		text-align:center !important;
		border:0;
		border-bottom:1px solid #ccc;
		font-weight:500;
	}

	tbody tr:nth-child(odd){
		background-color:$color-grey-bg;
	}

	.ol-table__product{
		h3{
			font-weight:400;
			font-size:$font14;
			height:auto;
		}

		span{
			color:$color-grey-font;
		}
	}
}





.ol-dashboard__content-table-graphic{
	padding-bottom:$spacing45;
	margin-bottom:$spacing45;
	border-bottom:1px solid $color-grey-bg;
}

.ol-dashboard__content-table-column{
	margin-bottom:$spacing30;
	.toggle-vis{
		color:$color-blue-soft;
		margin:0 $spacing10;
		&:hover{
			color:$color-ungu;
		}
	}
}

.ol-dashboard__content-table-graphic-wrapper{
	@extend .add-fix;
}

.ol-dashboard__content-table-graphic-content{
	float:left;
	width:80%;
	box-sizing:border-box;
	padding-right:$spacing15;
}

.ol-dashboard__content-table-graphic-filter{
	float:right;
	width:20%;
	box-sizing:border-box;
}

.ol-dashboard__content-table-graphic-filter-item{
	text-align:center;
	padding:$spacing15;
	border:1px solid $color-blue-soft;
	margin-bottom:$spacing15;
	cursor:pointer;


	&:hover{
		border-color:$color-ungu;
	}

	&:last-child{
		margin:0;
	}

	h4{
		font-size:$font18;
		color:$color-black;
		margin:$spacing15 0;
	}

	div{
		@extend .add-fix;
	}

	span{
		float:left;
		font-size:12px;
	}

	small{
		float:right;
		font-size:12px;
	}

	.ol-fa{
		margin-left:$spacing5;
	}

	.fa-arrow-up{
		color:green;
	}

	.fa-arrow-down{
		color:red;
	}
}





/* Rating Star Widgets Style */
.rating-stars{
	margin-top:$spacing15;
	font-size:$font24;
}
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  color:#ccc;
  
}

.rating-stars ul > li.star.hover {
	color:#FFCC36;
}

.rating-stars ul > li.star.selected {
  color:#FF912C;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fas {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fas {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fas {
  color:#FF912C;
}