*{margin:0;padding:0;outline:none;border:0;}


html,body{
	letter-spacing:0.2;
	overflow-x:hidden;
	-webkit-overflow-x-scrolling:hidden;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size:$font14;
	line-height:1.5;
	background-color:$color-ungu;
	color:$color-grey-font;
	min-height:500px;
	-webkit-text-size-adjust:none;
	word-wrap:break-word;

}

figure{
	line-height:0;
}

textarea{
	resize:none;
	height:100px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button{
	cursor:pointer;
	background:none;
}

ul,ol{
	margin:0;
	list-style:none;
}