/* layout */


.ol-layout{
	left:0;
	right:0;
	margin:0 auto;
	box-sizing:border-box;
}

.ol-layout--middle{
	@extend .ol-layout;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}

.ol-inline{
	display:inline-block;
	vertical-align:top;
	margin-right:-4px;
	box-sizing:border-box;
}

.ol-section{
	padding:$spacing75 0;
}

.ol-table-responsive{
	@include breakpoint-min(size-768){
		max-width:100%;overflow:hidden;overflow-x:auto;
		table{min-width:600px;}
	}	
}

.ol-float-left{
	float:left;
}

.ol-float-right{
	float:right;
}

.ol-wrapper{
	width:100%;
	margin:0 auto;
	box-sizing:border-box;
	padding:0 $spacing15;
	@include breakpoint-min(size-320){
		
	}
}

.ol-wrapper--large{
	/*@include breakpoint-min(size-1200){
		max-width:1300px;
	}*/
}

.ol-wrapper--small{
	max-width:1000px;
}

.ol-wrapper--xsmall{
	max-width:700px;
}

.ol-full{
	height:100vh;
	position:relative;
	@include breakpoint-min(size-480){
		min-height:500px;
	}
}