a{
    text-decoration:none;
    color:$color-white;
    transition-duration:.3s;
    cursor:pointer;
    &:hover{
    	color:$color-ungu;
    }
}

strong,b{
	font-weight:600;
}

.ol-section-title{
	margin-bottom:$spacing30;
	span{
		font-weight:700;
	}
}

h1,h2,h3,h4,h5,h6{
	color:$color-ungu;
	font-weight:500;
	font-size:$font18;

	@include breakpoint-min(size-768){
		font-size:$font21;
	}

}

.ol-page-title{
	margin:$spacing60 0;
	text-align:center;
}