.ol-header{
	color:$color-white;
	background-color:$color-ungu;
	position:fixed;
	display:none;
	top:0;
	width:100%;
	z-index:9999;
	left:0;
	transition:.3s;
	a{
		color:$color-white;
	}

	@include breakpoint-min(size-960){
		display:block;
	}
}






/*.ol-header-top*/
.ol-header-top{
	padding:$spacing15 0;
	font-size:12px;
	li{
		float:left;
		margin-right:$spacing15;
		&:last-child{
			margin:0;
		}
	}
}

.ol-header-top__left{
	float:left;
	a:hover{
		text-decoration:underline;
	}

	li:nth-child(2){
		display:none;
		@include breakpoint-min(size-960){
			display:block;
		}
	}
}

.ol-header-top__right{
	float:right;

	li{
		display:none;

		&:last-child{
			display:block;
		}

		@include breakpoint-min(size-1024){
			display:block;
		}
	}
}







/*ol-header-bottom*/
.ol-header-bottom{
	padding:$spacing15 0;
}

.ol-header-bottom__left{
	float:left;
	box-sizing:border-box;
	text-align:left;

	@include breakpoint-min(size-960){
		width:25%;
	}

	@include breakpoint-min(size-1024){
		width:24%;
	}

	@include breakpoint-min(size-1200){
		width:20%;
	}
}

.ol-header-category{
	@extend .ol-inline;
	position:relative;
	margin-top:$spacing10;
	.ol-fa{
		font-size:$font24;
		cursor:pointer;
	}

	&.ol-header-category--show{
		&:after{
			content:"";
			position:absolute;
			border-width:0 10px 10px 10px;
			border-style:solid;
			border-color:$color-white transparent;
			bottom:-21px;
			left:0;
		}
	}

	.open{
		position:relative;
		&:after{
			content:"";
			position:absolute;
			border-width:0 10px 10px 10px;
			border-style:solid;
			border-color:$color-white transparent;
			bottom:-21px;
			left:0;
		}
	}
}

.ol-header-logo{
	@extend .ol-inline;
	line-height:21px;
	margin-left:$spacing15;
	font-size:$font21;
}

.ol-header-logo__link{
	display:block;
	img{
		max-width:185px;
		filter:brightness(0) invert(1);
	}
}

.ol-header-bottom__center{
	box-sizing:border-box;
	float:left;

	@include breakpoint-min(size-960){
		width:54%;
	}

	@include breakpoint-min(size-1024){
		width:58%;
	}

	@include breakpoint-min(size-1200){
		width:65%;
		padding-right:$spacing15;
	}
}

.ol-header-search{
	position:relative;
	background-color:$color-white;
	padding:$spacing10 50px $spacing10 $spacing10;
	border-radius:3px;
	.ol-input-search{
		width:100%;
	}

	.ol-btn-search{
		position:absolute;
		top:14px;
		right:10px;
		&:after{
			position:absolute;
			left:-12px;
			top:0;
			height:100%;
			width:1px;
			content:"";
			background-color:#ccc;
		}
	}
}

.ol-header-bottom__right{
	float:right;
	box-sizing:border-box;
	width:21%;
	text-align:right;
	margin-top:$spacing10;

	@include breakpoint-min(size-1024){
		width:18%;
	}

	@include breakpoint-min(size-1200){
		width:15%;
	}
}

.ol-header-cart{
	@extend .ol-inline;
	position:relative;
	vertical-align:middle;

	a{
		position:relative;
		cursor:pointer;
	}

	span{
		position:absolute;
		width:18px;
		height:18px;
		background-color:$color-red;
		color:$color-white;
		border-radius:100%;
		top:-5px;
		right:-10px;
		font-size:12px;
		text-align:center;
		line-height:normal;
	}

	.ol-cart-floating__list-item-close{
		color:$color-black;
		position:absolute;
		top:0;
		right:0;
		font-size:12px;
		color:#ccc;
		&:hover{
			color:$color-grey-font;
		}
	}
}

.ol-header-notif{
	@extend .ol-inline;
	position:relative;
	margin:0 18px;
	vertical-align:middle;
	a{
		position:relative;
	}

	span{
		position:absolute;
		width:18px;
		height:18px;
		background-color:$color-red;
		color:$color-white;
		border-radius:100%;
		top:-5px;
		right:-8px;
		font-size:12px;
		text-align:center;
		line-height:normal;
	}
}

.ol-header-auth{
	@extend .ol-inline;
	font-size:$font14;
	position:relative;
	vertical-align:middle;
	a{
		cursor:pointer;
	}


	.ol-dashboard-auth__dd-nav-link{
		color:$color-grey-font;
		display:block;
		margin-bottom:$spacing5;

		.ol-fa{
			margin-right:$spacing5;
			width: 22px;
			text-align: center;
		}
	}
}

.ol-header-auth__username{
	font-size:$font16;
	color:$color-white;
	vertical-align:middle;
	padding:0 65px 0 6px;
	@extend .ol-inline;
}

.ol-header-auth__img{
	position:absolute;
	width:45px;
	height:45px;
	overflow:hidden;
	border-radius:100%;
	top:-10px;
	right:0;
	img{
		width:45px;
		height:45px;
	}
}

.ol-header-auth__dd{
	display:none;
	position:absolute;
	text-align:left;
	top:40px;
	left:-80px;
	background-color:$color-white;
	padding:$spacing15;
	box-sizing:border-box;
	width:200px;
	box-shadow:1px 1px 5px rgba(0,0,0,.15);

	h5{
		font-size:$font16;
		color:$color-grey-font;
		padding-bottom:$spacing10;
		margin-bottom:$spacing10;
		border-bottom:1px solid $color-grey-bg;
	}


	&:after{
		border-style:solid;
		border-width:0 10px 10px;
		border-color:$color-white transparent;
		content:"";
		width:0;
		height:0;
		top:-10px;
		right:80px;
		position:absolute;
	}
}

.ol-header-auth__dd-logout{
	padding-top:$spacing5;
	border-top:1px solid $color-grey-bg;
	a{
		display:block;
		font-size:$font16;
		color:$color-grey-font;
	}
}














.ol-header-category-content{
	display:none;
	position:fixed;
	top:125px;
	left:0;
	width:100%;
	background-color:$color-white;
	border-bottom:3px solid $color-grey-font;
	height:100vh;

	&:before{
		position:absolute;
		top:60px;
		left:0;
		content:"";
		width:100%;
		height:1px;
		background-color:$color-grey-bg;
	}

	.ol-wrapper{
		position:relative;
	}
}

.ol-header-category__nav{
	>li{
		float:left;
		margin-right:$spacing30;
		>a{
			display:inline-block;
			padding:$spacing15 0;
			color:$color-grey-font;
			&:hover,&.active{
				color:$color-ungu;
			}
		}
		/*&:hover{
			>a{
				color:$color-ungu;
			}
			.ol-header-category__nav-sub{
				display:block;
			}
		}*/
	}
}

.ol-header-category__nav-sub{
	display:none;
	width:100%;
	position:absolute;
	left:$spacing15;
	padding-top:$spacing30;
	column-count:5;
 	column-gap: 1em;
	li{
		/*float:left;*/
		width:100%;
		box-sizing:border-box;
		@extend .ol-inline;
		vertical-align:top;
		margin-bottom:$spacing30;
		/*&:last-child{
			width:40%;
		}*/
	}
	a{
		display:block;
		color:$color-grey-font;
		margin-bottom:$spacing10;
		font-size:$font14;
		&:last-child{
			margin:0;
		}
		&:hover{
			color:$color-ungu;
		}
	}
	h4{
		font-weight:500;
		margin:0 0 $spacing15;
		font-size:$font16;
	}
}

.ol-header-category__promo-images{
	float:left;
	width:50%;
	overflow:hidden;
	max-height:240px;
	img{
		width:100%;
	}
}

.ol-header-category__promo-desc{
	float:left;
	width:50%;
	color:$color-grey-font;

	.ol-link{
		display:inline-block;
	}
}

.ol-header-category__promo-desc-title{
	font-weight:500;
	margin:0 !important;
}




.ol-header-top__left i,.ol-header-top__right i,.ol-header-bottom__right i{
	background-image:url(../images/og-small-icon.png);
	background-repeat:no-repeat;
	display:inline-block;
	height:16px;
	width:16px;
	position:relative;
	top:3px;
}







.ol-header-checkout{
	padding:$spacing15 0;
	background-color:$color-ungu;
}

.ol-header-checkout__logo{
	a{
		display:block;
		text-align:center;
	}

	img{
		height:30px;
		filter:brightness(0) invert(1);
	}
}











.ol-cart-floating{
	position:absolute;
	width:450px;
	box-sizing:border-box;
	padding:$spacing15;
	background-color:$color-white;
	display:none;
	left:-350px;
	top:40px;
	box-shadow:1px 1px 5px rgba(0,0,0,.15);
	text-align:left;


	&:after{
		border-style:solid;
		border-width:0 10px 10px;
		border-color:$color-white transparent;
		content:"";
		width:0;
		height:0;
		top:-10px;
		right:80px;
		position:absolute;
	}


	.ol-btn{
		width:100%;
		margin-top:$spacing15;
	}

	&.show{
		display:block;
	}


	&.ol-notif-floating{
		padding:$spacing15 0 0;
	}
}


.ol-notif-floating{
	.ol-cart-floating__title{
		padding:0 $spacing15;
	}


	.ol-cart-floating__list{
		padding:0;
	}

	.ol-cart-floating__list-item{
		padding:$spacing15;
	}

	.ol-cart-floating__list-item-prd{
		float:none;
		width:100%;
	}

}

.ol-notif-floating__link{
	display:block;
}


.ol-cart-floating__title{
	font-size:$font16;
	margin-bottom:$spacing15;
}

.ol-cart-floating__total{
	position:absolute;
	top:15px;
	right:15px;
	color:$color-grey-font;
	font-size:14px;
}


.ol-cart-floating__list{
	padding-top:$spacing15;
	border-top:1px solid $color-grey-bg;
}

.ol-cart-floating__list-item{
	@extend .add-fix;
	position:relative;
	padding-bottom:$spacing15;
	margin-bottom:$spacing15;
	border-bottom:1px solid $color-grey-bg;


	&.ol-cart-floating__list-item--new{
		background-color:#FEF0E5;
	}
}

.ol-cart-floating__list-item-prd{
	@extend .add-fix;
	float:left;
	width:70%;
}

.ol-cart-floating__list-item-prd-figure{
	width:70px;
	float:left;
	background-color:$color-white;
	img{
		width:70px;
		height:70px;
	}
}

.ol-cart-floating__list-item-prd-desc{
	padding-left:90px;
	h3{
		font-size:14px;
	}
	a{
		color:$color-black;
	}

	small{
		color:$color-grey-font;
	}
}

.ol-cart-floating__list-item-price{
	float:left;
	width:30%;
	font-size:$font16;
	color:$color-black;
	text-align:right;
	padding-right:$spacing30;
	box-sizing:border-box;
}

.ol-cart-floating__subtotal{
	padding-right:$spacing30;
	text-align:right;
	color:$color-grey-font;

	strong{
		color:$color-ungu;
		margin-left:$spacing15
	}
}





.accordionItem{
	cursor:pointer;
}

.open .accordionItemContent{
	display:block;
}







.floating{

	/*.ol-header{
		position:fixed;
	}*/

	/*.ol-header-top{
		height:0;
		font-size:0;
		padding:0;
		line-height:0;
	}*/

	/*.ol-header-category-content{
		top:74px;
	}*/

	/*.ol-header-top__left i,.ol-header-top__right i{
		height:0;
	}*/

	.ol-header-checkout{
		width:100%;
		position:fixed;
		top:0;
		left:0;
		z-index:999;
	}
}