.ol-dashboard{
	padding:$spacing15 0;
}




.ol-dashboard__content{
	float:right;
	width:80%;
	padding:$spacing30;
	background-color:$color-white;
	border-radius:15px;
	box-sizing:border-box;
	min-height:800px;
}

.ol-dashboard__content-top{
	@extend .add-fix;
	padding-bottom:$spacing15;
	border-bottom:1px solid $color-ungu;
	margin-bottom:$spacing45;
}


.ol-dashboard__content-button{

	.ol-btn--secondary{
		margin-right:$spacing15;
	}

	.ol-fa{
		margin-right:$spacing5;
	}
}

.ol-dashboard__title{
	text-transform:uppercase;
	float:left;
}

.ol-dashboard__breadcrumb{
	float:right;
}

.ol-dashboard__content-info,.ol-dashboard__content-form{
	margin-bottom:$spacing45;
}


.ol-dashboard__content-form{
	margin-bottom:$spacing45;
}

.ol-dashboard__content-form-list{
	@extend .add-fix;
	margin:0 -15px $spacing15;
}

.ol-dashboard__content-form-list--select{
	margin-right:0;
}

.ol-dashboard__content-form-list-item{
	float:left;
	box-sizing:border-box;
	padding:0 $spacing15;
	position:relative;
	margin-bottom:$spacing30;

	.ol-input-label{
		display:inline-block;
		padding:$spacing5;
		background-color:$color-white;
		position:absolute;
		top:-13px;
		left:30px;
		transition:all .3s ease;
		opacity:0;

		&.floating{
			opacity:1;
			z-index:2;
		}

		&.ol-input-label--show{
			opacity:1;
			z-index:2;
		}
	}

	&.ol-dashboard__content-form-list-item--half{
		width:50%;
	}

	&.ol-dashboard__content-form-list-item--third{
		width:30%;
	}

	&.ol-dashboard__content-form-list-item--full{
		width:100%;

		.ol-input-textarea{
			height:120px;
		}
	}
}

.ol-dashboard__content-form-list-item-ico{
	position:relative;
	.ol-fa{
		position:absolute;
		right:10px;
		top:10px;
		font-size:24px;
	}

	.ol-input{
		background-color:transparent;
		position:relative;
		z-index:1;
		padding-right:35px;
	}
}

.ol-dashboard__content-form-list-item-of{
	.ol-input{
		@extend .ol-inline;
		width:48%;
		vertical-align:middle;
	}

	.ol-select-box{
		@extend .ol-inline;
		width:48%;
		vertical-align:middle;
		margin-right:0;

		.ol-input--select-normal{
			width:100%;
		}


		&.ol-select-box--hide,&.ol-select-box--hide2{
			display:none;
			vertical-align:top;
			span{
				margin:0;
			}
		}
	}

	span{
		margin:0 2%;
	}
}

.ol-dashboard__content-form-list-item-nominal{
	@extend .ol-dashboard__content-form-list-item-ico;

	.ol-fa{
		right:auto;
		left:10px;
		top:5px;
		font-size:21px;
	}

	.ol-input{
		text-align:right;
		padding:$spacing10 $spacing15 $spacing10 35px;
	}
}

.ol-dashboard__content-form-list-item-select{
	.ol-input-label-2{
		@extend .ol-inline;
		width:50%;
		box-sizing:border-box;
		padding-right:$spacing15;
	}

	.ol-select-box{
		@extend .ol-inline;
		box-sizing:border-box;
		width:50%;
	}

	.ol-select-box--nav{
		width:65%;
		&:after{
			display:none;
		}
	}
}

.ol-dashboard__content-form-list-item-cat{
	position:relative;
	box-sizing:border-box;
	border:1px solid $color-grey-font;
	border-top:0;
	border-radius:0 0 3px 3px;

	li{
		width:50%;

		&.active{
			span{
				background-color:#eee;
			}
			.ol-dashboard__content-form-list-item-cat-dd{
				position:absolute;
				top:0;
				right:0;
				width:50%;
				height:100%;
				overflow:hidden;
				overflow-y:auto;
				span{
					background-color:$color-white;
					&:hover{
						background-color:#eee;
					}
				}
			}
		}
	}

	span{
		display:block;
		padding:$spacing10;
		position:relative;
		cursor:pointer;
	}

	.ol-fa{
		position:absolute;
		right:10px;
		top:10px;
	}
}

.ol-dashboard__content-form-list-item-cat-dd{
	display:none;
}

.ol-dashboard__content-form-list-item-cat-choice{
	@extend .add-fix;
	padding-top:$spacing15;
	clear:both;
	span{
		display:block;
		margin-bottom:$spacing5;
	}

	small{
		@extend .ol-inline;
		padding:$spacing5;
		background-color:$color-grey-bg;
		font-size:$font14;
		margin-right:$spacing5;
		border-radius:5px;
	}
}




.ol-dashboard__content-form-list-item-images{
	@extend .add-fix;
	margin:0 -15px;
}

.ol-dashboard__content-form-list-item-images-item{
	float:left;
	width:20%;
}

.ol-dashboard__content-form-list-item-images-item-wrapper{
	text-align:center;
	border:1px dashed $color-grey-font;
	position:relative;
	margin:0 $spacing15;

	.ol-input-file{
		width:100%;
		height:180px;
		padding:0;
		opacity:0;
		position:relative;
		z-index:2;
		cursor:pointer;
	}

	span{
		position:absolute;
		bottom:15px;
		left:0;
		right:0;
		margin:0 auto;
		z-index:1;
	}

	.ol-fa{
		@extend .ol-layout--middle;
		font-size:48px;
		opacity:.5;
		z-index:1;
	}
}


.ol-dashboard__content-form-list-item-nav-link{
	color:#888;
	@extend .ol-inline;
	padding:$spacing10;
	border:1px solid #ccc;
	margin-right:$spacing15;

	&:hover,&.active{
		color:#888;
		border-color:$color-blue-soft;
	}
}

.ol-dashboard__content-form-list-notif{
	color:#bbb;
	margin:$spacing5 $spacing15 0;
}

.ol-dashboard__content-form-list-item-ico--images-box{}






.ol-dashboard__content-form-exp{

}

.ol-dashboard__content-form-exp-item-title{
	color:$color-grey-font;
	padding-bottom:$spacing15;
	margin-bottom:$spacing30;
	border-bottom:1px solid #ccc;
	position:relative;
	cursor:pointer;
	font-size:$font18;


	.ol-fa{
		position:absolute;
		top:5px;
		right:15px;
		transform: rotate(180deg);
		transition-duration:.3s;
	}


	&.active{
		.ol-fa{
			transform: rotate(0deg);
		}
	}
}

.ol-dashboard__content-form-exp-item-wrapper{
	display:none;
}






.ol-dashboard__content-detail{
	.ol-dashboard__content-table-info-item{
		width:50%;
		margin-bottom:$spacing30;
	}
}