.ol-dashboard__sidebar{
	float:left;
	width:20%;
	box-sizing:border-box;
	color:$color-white;
	position:sticky;
	margin-top:$spacing15;
}

.ol-dashboard-logo{

	padding-right:$spacing30;

	a{
		display:block;
	}

	img{
		height:40px;
		max-width:212px;
		filter:brightness(0) invert(1);
	}
}

.ol-dashboard-account{
	@extend .add-fix;
	padding-right:$spacing30;
	margin:$spacing45 0;
}

.ol-dashboard-account__ico{
	float:left;
	width:40px;
	height:40px;
	background-color:$color-white;
	text-align:center;
	color:$color-grey-font;
	vertical-align:middle;
	border-radius:100%;

	.ol-fa{
		margin-top:$spacing10;
	}
}

.ol-dashboard-account__desc{
	float:left;
	margin-left:$spacing15;
	h5{
		color:yellow;
		font-size:$font16;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}

	p{
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
}



.ol-dashboard-nav{
	margin-bottom:$spacing45;
}


.ol-dashboard-nav__list-item{
	padding-bottom:$spacing15;
}

.ol-dashboard-nav__list-item-link{
	display:block;
	padding:$spacing15;
	position:relative;

	&:hover{
		color:$color-white;
	}

	&.active{
		background-color:$color-white;
		color:$color-ungu;
		border-radius:15px 0 0 15px;
		.fa-chevron-down{
			transform: rotate(0deg);
		}
	}

	.ol-fa{
		width:20px;
		text-align:center;
		margin-right:$spacing5;
	}

	.fa-chevron-down{
		position:absolute;
		right:30px;
		top:19px;
		transform: rotate(180deg);
		transition-duration:.3s;
	}
}

.ol-dashboard-nav__list-item-dd{
	padding:0 $spacing30 0 $spacing15;
	margin:$spacing5 0 $spacing30;
	display:none;
}

.ol-dashboard-nav__list-item-dd-link{
	display:block;
	padding:$spacing5 $spacing15;
	border-radius:8px;

	&:hover,&.active{
		color:$color-white;
		background-color:rgba(91, 197, 210, 0.25);
	}
}

.ol-dashboard-logout{
	margin-left:$spacing15;

	.ol-fa{
		width:20px;
		text-align:center;
		margin-right:$spacing5;
	}

	.ol-link{
		color:yellow;
		&:hover{
			opacity:.9;
		}
	}
}