@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">PRODUK</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Produk</span> /
			<span class="ol-dashboard__breadcrumb-link">Produk</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Daftar Produk

					<span class="ol-dashboard__content-table-top-filter-btn"><i class="ol-fa fas fa-sort-amount-down"></i> Filter</span>
				</h5>
			</div>

			<div class="ol-dashboard__content-table-filter">

				<div class="ol-dashboard__content-form-list">
					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show">Area</label>
							<select class="ol-input ol-input-select" id="area">
								<option></option>
								<option value="1">Global</option>
								<option value="2">Daerah</option>
								<option value="3">Mitra</option>
							</select>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show">Kategori</label>
							<select class="ol-input ol-input-select" id="category">
								<option></option>
								<option value="1">Sofa</option>
								<option value="2">Meja</option>
								<option value="3">Kursi</option>
							</select>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show">Brand</label>
							<select class="ol-input ol-input-select" id="brand">
								<option></option>
								<option value="1">Olympic</option>
								<option value="2">Olymplast</option>
								<option value="3">Frontline</option>
							</select>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show">Status</label>
							<select class="ol-input ol-input-select" id="status">
								<option></option>
								<option value="1">Diarsipkan</option>
								<option value="2">Ditampilkan</option>
							</select>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-of">
							<label class="ol-input-label ol-input-label--show">Penjualan</label>
							<input type="Text" class="ol-input" placeholder="Awal"><span>-</span><input type="Text" class="ol-input" placeholder="Akhir">
						</div>
					</div>
				</div>


				<div class="ol-dashboard__content-button">
					<button class="ol-btn"><i class="ol-fa fas fa-filter"></i> Terapkan</button>
				</div>
				
			</div>

			<div class="ol-dashboard__content-table-wrapper">

				<table class="ol-table ol-dttable">
					<thead>
						<tr>
							<th class="ol-table__30">No</th>
							<th class="ol-table__150">Produk</th>
							<th>Kategori</th>
							<th>Brand</th>
							<th>Harga</th>
							<th>Stok</th>
							<th>Penjualan</th>
							<th>Modifikasi Terakhir</th>
							<th class="ol-table__40">Aksi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>
								<div class="ol-table__product">
									<figure>
										<a href="#" target="_blank">
											<img src="images/rumakamu_nd.png" alt="" title="">
										</a>
									</figure>
									<h3>
										<a href="#" target="_blank">
											Produk sofa murah dan bagus joss pokoknya
										</a>
									</h3>
								</div>
							</td>
							<td>Sofa</td>
							<td>Olympic</td>
							<td><span class="ol-number">Rp 1.000.000</span></td>
							<td><span class="ol-number">10.000</span></td>
							<td><span class="ol-number">1.000</span></td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="#" title="Pengaturan"><i class="fas fa-cog"></i></a>
								<a class="ol-table__ico" href="product-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>
								<div class="ol-table__product">
									<figure>
										<a href="#" target="_blank">
											<img src="images/rumakamu_nd.png" alt="" title="">
										</a>
									</figure>
									<h3>
										<a href="#" target="_blank">
											Produk sofa murah dan bagus joss pokoknya
										</a>
									</h3>
								</div>
							</td>
							<td>Sofa</td>
							<td>Olympic</td>
							<td><span class="ol-number">Rp 1.000.000</span></td>
							<td><span class="ol-number">10.000</span></td>
							<td><span class="ol-number">1.000</span></td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="#" title="Pengaturan"><i class="fas fa-cog"></i></a>
								<a class="ol-table__ico" href="product-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>
								<div class="ol-table__product">
									<figure>
										<a href="#" target="_blank">
											<img src="images/rumakamu_nd.png" alt="" title="">
										</a>
									</figure>
									<h3>
										<a href="#" target="_blank">
											Produk sofa murah dan bagus joss pokoknya
										</a>
									</h3>
								</div>
							</td>
							<td>Sofa</td>
							<td>Olympic</td>
							<td><span class="ol-number">Rp 1.000.000</span></td>
							<td><span class="ol-number">10.000</span></td>
							<td><span class="ol-number">1.000</span></td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="#" title="Pengaturan"><i class="fas fa-cog"></i></a>
								<a class="ol-table__ico" href="product-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>


@@include('./_components/end-html.html')