@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-dashboard__content">


	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">KATEGORI PRODUK GENERAL</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Konfirgurasi Web</span> /
			<span class="ol-dashboard__breadcrumb-link">Kategori Produk General</span>
		</div>
	</div>



	<div class="ol-dashboard__content-wrapper">
		
		<form action="cat-product.html">

			<div class="ol-dashboard__content-form">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Tambah Kategori Produk General
					</h5>
				</div>
				<div class="ol-dashboard__content-form-list">
					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Nama Kategori</label>
						<input type="Text" class="ol-input" placeholder="Nama Kategori">
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label ol-input-label--show"><i>*</i> Gambar Kategori</label>
						<div class="ol-dashboard__content-form-list-item-ico">
							<input type="file" class="ol-input ol-input-file" placeholder="Gambar">
							<i class="ol-fa far fa-image"></i>
						</div>
						<small class="ol-dashboard__content-form-list-notif">Ukuran maksimal 500Kb.</small>
					</div>
				</div>
			</div>


			<div class="ol-dashboard__content-button">
				<button class="ol-btn ol-btn--secondary" onclick="back()"><i class="ol-fa fas fa-times"></i> Batal</button>
				<button class="ol-btn"><i class="ol-fa far fa-save"></i> Simpan</button>
			</div>

		</form>

	</div>


@@include('./_components/end-html.html')