@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">WARNA PRODUK</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Produk</span> /
			<span class="ol-dashboard__breadcrumb-link">Warna Produk</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Daftar Warna Produk
				</h5>
				<a href="color-product-add.html" class="ol-btn"><i class="fas fa-plus-circle"></i> Tambah Warna Produk</a>
			</div>
			<div class="ol-dashboard__content-table-wrapper">
				<table class="ol-table ol-dttable">
					<thead>
						<tr>
							<th class="ol-table__30">No</th>
							<th>Warna</th>
							<th>Modifikasi Terakhir</th>
							<th>Aksi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td><span class="ol-table__color" style="background-color:#FF6600"></span> #FF6600</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="banner-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td><span class="ol-table__color" style="background-color:#FF6600"></span> #FF6600</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="banner-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td><span class="ol-table__color" style="background-color:#FF6600"></span> #FF6600</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="banner-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>


@@include('./_components/end-html.html')