@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-dashboard__content">


	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">KONTAK</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Konfirgurasi Web</span> /
			<span class="ol-dashboard__breadcrumb-link">Kontak</span>
		</div>
	</div>



	<div class="ol-dashboard__content-wrapper">
		
		<form action="contact.html">

			<div class="ol-dashboard__content-form">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Kontak
					</h5>
				</div>
				<div class="ol-dashboard__content-form-list">
					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Email</label>
						<input type="email" class="ol-input" placeholder="Email">
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Telepon</label>
						<input type="Text" class="ol-input" placeholder="Telepon">
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Whatsapp</label>
						<input type="Text" class="ol-input" placeholder="Whatsapp">
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Facebook</label>
						<input type="Text" class="ol-input" placeholder="Facebook">
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Instagram</label>
						<input type="Text" class="ol-input" placeholder="Instagram">
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Youtube</label>
						<input type="Text" class="ol-input" placeholder="Youtube">
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Hari Operasional</label>
						<div class="ol-dashboard__content-form-list-item-ico">
							<input type="text" class="ol-input" placeholder="Hari Operasional">
							<i class="ol-fa far fa-calendar-alt"></i>
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Jam Operasional</label>
						<div class="ol-dashboard__content-form-list-item-ico">
							<input type="text" class="ol-input" placeholder="Jam Operasional">
							<i class="ol-fa far fa-clock"></i>
						</div>
					</div>

				</div>
			</div>

			<div class="ol-dashboard__content-button">
				<button class="ol-btn ol-btn--secondary" onclick="back()"><i class="ol-fa fas fa-times"></i> Batal</button>
				<button class="ol-btn"><i class="ol-fa far fa-save"></i> Simpan</button>
			</div>

		</form>

	</div>


@@include('./_components/end-html.html')