@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-dashboard__content">


	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">KONTAK</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Konfirgurasi Web</span> /
			<span class="ol-dashboard__breadcrumb-link">Kontak</span>
		</div>
	</div>



	<div class="ol-dashboard__content-wrapper">
		
		<div class="ol-dashboard__content-table">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Informasi Kontak
					</h5>
					<a href="contact-add.html" class="ol-link"><i class="ol-fa fas fa-pencil-alt"></i> Ubah Kontak</a>
				</div>

				<div class="ol-dashboard__content-table-wrapper">
					<ul class="ol-dashboard__content-table-list">
						<li>
							<strong>Email</strong>
							<span>info@rumakamu.com</span>
						</li>
						<li>
							<strong>Telepon</strong>
							<span>0856 1234 5678</span>
						</li>
						<li>
							<strong>Whatsapp</strong>
							<span>0856 1234 5678</span>
						</li>
						<li>
							<strong>Facebook</strong>
							<span><a href="#" target="_blank">https://facebook.com/rumakamu/</a></span>
						</li>
						<li>
							<strong>Instagram</strong>
							<span><a href="#" target="_blank">https://instagram.com/rumakamu/</a></span>
						</li>
						<li>
							<strong>Youtube</strong>
							<span><a href="#" target="_blank">https://youtube.com/rumakamu/</a></span>
						</li>
						<li>
							<strong>Hari Operasional</strong>
							<span>Senin - Jumat</span>
						</li>
						<li>
							<strong>Jam Operasional</strong>
							<span>08.00 - 17.00 WIB</span>
						</li>
					</ul>
				</div>
				

			</div>

	</div>


@@include('./_components/end-html.html')