@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">PENILAIAN PELANGGAN</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Pelanggan</span> /
			<span class="ol-dashboard__breadcrumb-link">Penilaian Pelanggan</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Daftar Penilaian Pelanggan

					<span class="ol-dashboard__content-table-top-filter-btn"><i class="ol-fa fas fa-sort-amount-down"></i> Filter</span>
				</h5>
			</div>

			<div class="ol-dashboard__content-table-filter">

				<div class="ol-dashboard__content-form-list">
					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show">Area</label>
							<select class="ol-input ol-input-select" id="area">
								<option></option>
								<option value="1">Global</option>
								<option value="2">Daerah</option>
								<option value="3">Mitra</option>
							</select>
						
						</div>
					</div>

				</div>


				<div class="ol-dashboard__content-button">
					<button class="ol-btn"><i class="ol-fa fas fa-filter"></i> Terapkan</button>
				</div>
				
			</div>

			<div class="ol-dashboard__content-table-wrapper">

				<table class="ol-table ol-dttable">
					<thead>
						<tr>
							<th class="ol-table__30">No</th>
							<th>Nama Pelanggan</th>
							<th class="ol-table__40">Total Pesanan</th>
							<th>Total QTY Produk</th>
							<th>Total Nominal</th>
							<th class="ol-table__100">Rata - Rata Penilaian</th>
							<th>Tanggal Penilaian</th>
							<th class="ol-table__40">Aksi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Jon Smith</td>
							<td>12</td>
							<td>5</td>
							<td>
								<span class="ol-number">Rp 100.000.000</span>
							</td>
							<td>
								<div class="ol-table__star">
									<i class="ol-home-review__list-item-desc-star">
									<i class="fas fa-star far--on"></i>
									<i class="fas fa-star far--on"></i>
									<i class="fas fa-star far--off"></i>
									<i class="fas fa-star far--off"></i>
									<i class="fas fa-star far--off"></i>
								</div>
							</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="images/dt-bank.jpg" target="_blank" title="Gambar"><i class="fas fa-image"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>


@@include('./_components/end-html.html')