@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-dashboard__content">


	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">FLASH SALE</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Konfirgurasi Web</span> /
			<span class="ol-dashboard__breadcrumb-link">Flash Sale</span>
		</div>
	</div>



	<div class="ol-dashboard__content-wrapper">
		
		<form action="flashsale.html">

			<div class="ol-dashboard__content-form">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Tambah Produk Flash Sale
					</h5>
				</div>
				<div class="ol-dashboard__content-form-list">
					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label"><i>*</i> Diskon (%)</label>
							<input type="text" class="ol-input" placeholder="Diskon (%)">
							<span class="ol-fa" style="top:5px;">%</span>
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico ol-dashboard__content-form-list-item-ico--prd">
							<label class="ol-input-label ol-input-label--show"><i>*</i> Pilih Produk</label>
							<select class="ol-input ol-input-select" id="product">
								<option></option>
								<option value="1">Sofa</option>
								<option value="2">Kursi</option>
								<option value="3">Meja</option>
							</select>
							<i class="ol-fa fas fa-search"></i>
						</div>
					</div>
				</div>
			</div>


			<div class="ol-dashboard__content-button">
				<button class="ol-btn ol-btn--secondary" onclick="back()"><i class="ol-fa fas fa-times"></i> Batal</button>
				<button class="ol-btn"><i class="ol-fa far fa-save"></i> Simpan</button>
			</div>

		</form>

	</div>


@@include('./_components/end-html.html')