@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">FLASH SALE</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Konfirgurasi Web</span> /
			<span class="ol-dashboard__breadcrumb-link">Flash Sale</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-form">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Periode Flash Sale
				</h5>
			</div>
			<div class="ol-dashboard__content-form-list">
				<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
					<label class="ol-input-label ol-input-label--show"><i>*</i> Mulai</label>
					<div class="ol-dashboard__content-form-list-item-ico">
						<input type="date" class="ol-input" placeholder="Mulai">
						<i class="ol-fa far fa-calendar-alt"></i>
					</div>
				</div>

				<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
					<label class="ol-input-label ol-input-label--show"><i>*</i> Akhir</label>
					<div class="ol-dashboard__content-form-list-item-ico">
						<input type="date" class="ol-input" placeholder="Akhir">
						<i class="ol-fa far fa-calendar-alt"></i>
					</div>
				</div>
			</div>
		</div>


		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Daftar Produk Flash Sale
				</h5>
				<a href="flashsale-add.html" class="ol-btn"><i class="fas fa-plus-circle"></i> Tambah Produk</a>
			</div>
			<div class="ol-dashboard__content-table-wrapper">
				<table class="ol-table ol-dttable">
					<thead>
						<tr>
							<th class="ol-table__30">No</th>
							<th>Produk</th>
							<th>Modifikasi Terakhir</th>
							<th>Aksi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Banner Promo 12.12</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="images/dt-bank.jpg" target="_blank" title="Gambar"><i class="fas fa-image"></i></a>
								<a class="ol-table__ico" href="banner-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Iklan 12.12</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="images/dt-bank.jpg" target="_blank" title="Gambar"><i class="fas fa-image"></i></a>
								<a class="ol-table__ico" href="banner-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Promo 12.12</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="images/dt-bank.jpg" target="_blank" title="Gambar"><i class="fas fa-image"></i></a>
								<a class="ol-table__ico" href="banner-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>


@@include('./_components/end-html.html')