@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-dashboard__content">


	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">INSPIRASI</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Konfirgurasi Web</span> /
			<span class="ol-dashboard__breadcrumb-link">Inspirasi</span>
		</div>
	</div>



	<div class="ol-dashboard__content-wrapper">
		
		<form action="banner.html">

			<div class="ol-dashboard__content-form">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Tambah Inspirasi
					</h5>
				</div>
				<div class="ol-dashboard__content-form-list">
					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Judul</label>
						<input type="Text" class="ol-input" placeholder="Judul">
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show"><i>*</i> Gambar Inspirasi</label>
							<input type="file" class="ol-input ol-input-file" placeholder="Gambar">
							<i class="ol-fa far fa-image"></i>
						</div>
						<small class="ol-dashboard__content-form-list-notif">Ukuran maksimal 500Kb.</small>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
						<label class="ol-input-label"><i>*</i> Tag</label>
						<textarea class="ol-input ol-input-textarea" placeholder="Tag"></textarea>
					</div>
				</div>
			</div>

			<div class="ol-dashboard__content-table">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Daftar Produk Terkait
					</h5>
					<a onclick="showPopup()" class="ol-link">+ Tambah Produk</a>
				</div>
				<div class="ol-dashboard__content-table-wrapper">
					<table class="ol-table ol-dttable">
						<thead>
							<tr>
								<th>No</th>
								<th>Nama</th>
								<th>Tipe</th>
								<th>Warna</th>
								<th>Harga</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Sofa LKM</td>
								<td>Three Seater</td>
								<td>Green</td>
								<td><span class="ol-number">Rp 99.999.999</span></td>
								<td>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Sofa LKM</td>
								<td>Three Seater</td>
								<td>Green</td>
								<td><span class="ol-number">Rp 99.999.999</span></td>
								<td>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Sofa LKM</td>
								<td>Three Seater</td>
								<td>Green</td>
								<td><span class="ol-number">Rp 99.999.999</span></td>
								<td>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>


			<div class="ol-popup ol-popup--general">
				<div class="ol-popup-wrapper">

					<div class="ol-popup-box ol-popup-box--address">

						<a class="ol-popup-box__close" onclick="showPopup()">
							<i class="ol-fa fas fa-times"></i>
						</a>



						<div class="ol-dashboard__content-table">
							<div class="ol-dashboard__content-table-top">
								<h5 class="ol-dashboard__content-table-top-title">
									Daftar Produk
								</h5>
								<div class="ol-dashboard__content-table-top-search">
									<i class="ol-fa fas fa-search"></i>
									<input type="text" id="dtsearch" class="ol-input" placeholder="Pencarian Produk">
									<a href="banner-add.html" class="ol-btn"><i class="fas fa-plus-circle"></i> Tambah</a>
								</div>
							</div>
							<div class="ol-dashboard__content-table-wrapper ol-dashboard__content-table-wrapper--popup">
								<table class="ol-table ol-dttable--popup">
									<thead>
										<tr>
											<th>Pilih</th>
											<th>Nama</th>
											<th>Tipe</th>
											<th>Warna</th>
											<th>Harga</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td></td>
											<td>Sofa LKM</td>
											<td>Three Seater</td>
											<td>Green</td>
											<td><span class="ol-number">Rp 99.999.999</span></td>
										</tr>
										<tr>
											<td></td>
											<td>Sofa LKM</td>
											<td>Three Seater</td>
											<td>Green</td>
											<td><span class="ol-number">Rp 99.999.999</span></td>
										</tr>
										<tr>
											<td></td>
											<td>Sofa LKM</td>
											<td>Three Seater</td>
											<td>Green</td>
											<td><span class="ol-number">Rp 99.999.999</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
					</div>

				</div>
			</div>


			<div class="ol-dashboard__content-button">
				<button class="ol-btn ol-btn--secondary" onclick="back()"><i class="ol-fa fas fa-times"></i> Batal</button>
				<button class="ol-btn"><i class="ol-fa far fa-save"></i> Simpan</button>
			</div>

		</form>

	</div>


@@include('./_components/end-html.html')