@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">DAFTAR TRANSAKSI</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Transaksi</span> /
			<span class="ol-dashboard__breadcrumb-link">Daftar Transaksi</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Daftar Transaksi


					<span class="ol-dashboard__content-table-top-filter-btn"><i class="ol-fa fas fa-sort-amount-down"></i> Filter</span>
				</h5>
			</div>

			<div class="ol-dashboard__content-table-filter">

				<div class="ol-dashboard__content-form-list">


					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show">Status Pesanan</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input--select-normal">
									<option value="0">Semua</option>
									<option value="1">Diproses</option>
									<option value="2">Dikirim</option>
									<option value="3">Diterima</option>
								</select>
							</div>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-of">
							<label class="ol-input-label ol-input-label--show">Periode</label>
							<input type="date" class="ol-input" placeholder="Awal"><span>-</span><input type="date" class="ol-input" placeholder="Akhir">
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
						<div class="ol-dashboard__content-form-list-item-of">
							<label class="ol-input-label ol-input-label--show">Area</label>
							<div class="ol-select-box" style="width:31%;">
								<select class="ol-input ol-input--select-normal" id="chgArea">
									<option value="0">Semua</option>
									<option value="1">Global</option>
									<option value="chgAreaProv">Daerah</option>
									<option value="chgAreaMitra">Mitra</option>
								</select>
							</div>

							<div class="ol-select-box ol-select-box--hide" id="chgAreaProv">
								<select class="ol-input ol-input--select-multiple ol-input--select-normal" multiple="multiple">
									<!-- <option value="0" selected>Semua</option> -->
									<option value="1">Jawa Timur</option>
									<option value="2">Jawa Barat</option>
									<option value="3">Jawa Tengah</option>
									<option value="4">DKI Jakarta</option>
								</select>
							</div>


							<div class="ol-select-box ol-select-box--hide" id="chgAreaMitra">
								<select class="ol-input ol-input--select-multiple ol-input--select-normal" multiple="multiple">
									<!-- <option value="0" selected>Semua</option> -->
									<option value="1">AF66 | Berkah</option>
									<option value="2">AF56 | Barokah</option>
									<option value="3">AF86 | Maju</option>
									<option value="4">AF96 | Sentosa</option>
								</select>
							</div>
						
						</div>
					</div>
				</div>


				<div class="ol-dashboard__content-button">
					<button class="ol-btn"><i class="ol-fa fas fa-filter"></i> Terapkan</button>
				</div>
				
			</div>

			<!-- <div class="ol-dashboard__content-table-column">
				Kolom yang ditampilkan : <a class="toggle-vis" data-column="1">Nama</a> - <a class="toggle-vis" data-column="2">Telepon</a> - <a class="toggle-vis" data-column="3">Penilaian</a>
			</div> -->

			<div class="ol-dashboard__content-table-wrapper">

				<table class="ol-table ol-dttable">
					<thead>
						<tr>
							<th>Nomor Transaksi</th>
							<th>Sub Transaksi</th>
							<th>Tanggal Transaksi</th>
							<th class="ol-table__150">Mitra</th>
							<th class="ol-table__150">Nama Pelanggan</th>
							<th class="ol-table__100">Status Pembayaran</th>
							<th class="ol-table__100">Status Pesanan</th>
							<th class="ol-table__100">Durasi Per Status Pesanan</th>
							<th>Aksi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>RK123456</td>
							<td>RKSUB123456</td>
							<td>23/07/2020</td>
							<td>
								<a onclick="showPopup()" class="ol-table__link-popup ol-link">Toko Barokah Selalu</a>
							</td>
							<td>Pras Perkasa</td>
							<td>Dibayar</></td>
							<td><span class="ol-table__red">Diproses</span></td>
							<td><span class="ol-table__red">48 Jam 28 Menit</span></td>
							<td>
								<a class="ol-table__ico" href="list-transaction-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
						<tr>
							<td>RK123456</td>
							<td>RKSUB123457</td>
							<td>23/07/2020</td>
							<td>
								<a onclick="showPopup()" class="ol-table__link-popup ol-link">Toko Barokah Selalu</a>
							</td>
							<td>Pras Perkasa</td>
							<td>Dibayar</td>
							<td><span class="ol-table__yellow">Dikirim</span></td>
							<td><span class="ol-table__yellow">28 Jam 28 Menit</span></td>
							<td>
								<a class="ol-table__ico" href="list-transaction-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
						<tr>
							<td>RK123456</td>
							<td>RKSUB123458</td>
							<td>23/07/2020</td>
							<td>
								<a onclick="showPopup()" class="ol-table__link-popup ol-link">Toko Barokah Selalu</a>
							</td>
							<td>Pras Perkasa</td>
							<td>Belum Bayar</td>
							<td><span class="ol-table__green">Diterima</span></td>
							<td><span class="ol-table__green">8 Jam 28 Menit</span></td>
							<td>
								<a class="ol-table__ico" href="list-transaction-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
						<tr>
							<td>RK999999</td>
							<td>RKSUB99999</td>
							<td>23/07/2020</td>
							<td>
								<a onclick="showPopup()" class="ol-table__link-popup ol-link">Toko Barokah Selalu</a>
							</td>
							<td>Pras Perkasa</td>
							<td>Belum Bayar</td>
							<td><span class="ol-table__green">Diterima</span></td>
							<td><span class="ol-table__green">8 Jam 28 Menit</span></td>
							<td>
								<a class="ol-table__ico" href="list-transaction-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="ol-popup ol-popup--general">
				<form>
					<div class="ol-popup-wrapper">

						<div class="ol-popup-box ol-popup-box--address">

							<a class="ol-popup-box__close" onclick="showPopup()">
								<i class="ol-fa fas fa-times"></i>
							</a>



							<div class="ol-dashboard__content-table">
								<div class="ol-dashboard__content-table-top">
									<h5 class="ol-dashboard__content-table-top-title">
										Penggantian Mitra
									</h5>
								</div>
								<div class="ol-dashboard__content-form ol-dashboard__content-table-wrapper--popup">
									<div class="ol-dashboard__content-form-list">

										<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half ol-input--readonly">
											<label class="ol-input-label">Mitra Awal</label>
											<input type="Text" class="ol-input" placeholder="Mitra Awal" value="Jon Jon" readonly="">
										</div>

										<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
											<div class="ol-dashboard__content-form-list-item-ico">
												<label class="ol-input-label ol-input-label--show">Mitra Pengganti</label>
												<div class="ol-select-box">
													<select class="ol-input ol-input--select-normal">
														<option value="0">Mitra Pengganti</option>
														<option value="1">Barokah</option>
														<option value="2">Maju</option>
														<option value="3">Jaya</option>
													</select>
												</div>
											
											</div>
										</div>

										<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
											<label class="ol-input-label">Keterangan</label>
											<textarea class="ol-input ol-input-textarea" placeholder="Keterangan"></textarea>
										</div>

									</div>
								</div>
								<div class="ol-dashboard__content-button">
									<a class="ol-btn ol-btn--secondary" onclick="showPopup()"><i class="ol-fa fas fa-times"></i> Batal</a>
									<button class="ol-btn"><i class="ol-fa far fa-save"></i> Simpan</button>
								</div>
							</div>
							
						</div>

					</div>
				</form>
			</div>

		</div>

	</div>


@@include('./_components/end-html.html')