@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">LOG TRANSAKSI</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Transaksi</span> /
			<span class="ol-dashboard__breadcrumb-link">Log Transaksi</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Log Transaksi
				</h5>
			</div>

			<!-- <div class="ol-dashboard__content-table-column">
				Kolom yang ditampilkan : <a class="toggle-vis" data-column="1">Nama</a> - <a class="toggle-vis" data-column="2">Telepon</a> - <a class="toggle-vis" data-column="3">Penilaian</a>
			</div> -->

			<div class="ol-dashboard__content-table-wrapper">

				<table class="ol-table ol-dttable">
					<thead>
						<tr>
							<th>Nomor Transaksi</th>
							<th>Tanggal Transaksi</th>
							<th class="ol-table__150">Mitra</th>
							<th class="ol-table__150">Mitra Pengganti</th>
							<th class="ol-table__100">Penggantian ke -</th>
							<th>Tanggal Penggantian</th>
							<th>Admin Pengganti</th>
							<th>Aksi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>RK123456</td>
							<td>23/07/2020</td>
							<td>Berkah Barokah</td>
							<td>Mebel Indah</td>
							<td>1</td>
							<td>23/07/2020</td>
							<td>Pras Perkasa</td>
							<td>
								<a class="ol-table__ico" href="log-transaction-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
						<tr>
							<td>RK123456</td>
							<td>23/07/2020</td>
							<td>Berkah Barokah</td>
							<td>Mebel Indah</td>
							<td>1</td>
							<td>23/07/2020</td>
							<td>Pras Perkasa</td>
							<td>
								<a class="ol-table__ico" href="log-transaction-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
						<tr>
							<td>RK123456</td>
							<td>23/07/2020</td>
							<td>Berkah Barokah</td>
							<td>Mebel Indah</td>
							<td>1</td>
							<td>23/07/2020</td>
							<td>Pras Perkasa</td>
							<td>
								<a class="ol-table__ico" href="log-transaction-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
						<tr>
							<td>RK123456</td>
							<td>23/07/2020</td>
							<td>Berkah Barokah</td>
							<td>Mebel Indah</td>
							<td>1</td>
							<td>23/07/2020</td>
							<td>Pras Perkasa</td>
							<td>
								<a class="ol-table__ico" href="log-transaction-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
						<tr>
							<td>RK123456</td>
							<td>23/07/2020</td>
							<td>Berkah Barokah</td>
							<td>Mebel Indah</td>
							<td>1</td>
							<td>23/07/2020</td>
							<td>Pras Perkasa</td>
							<td>
								<a class="ol-table__ico" href="log-transaction-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
						<tr>
							<td>RK123456</td>
							<td>23/07/2020</td>
							<td>Berkah Barokah</td>
							<td>Mebel Indah</td>
							<td>1</td>
							<td>23/07/2020</td>
							<td>Pras Perkasa</td>
							<td>
								<a class="ol-table__ico" href="log-transaction-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>


@@include('./_components/end-html.html')