@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">DETAIL LOG TRANSAKSI</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Transaksi</span> /
			<span class="ol-dashboard__breadcrumb-link">Log Transaksi</span>
			<span class="ol-dashboard__breadcrumb-link">Detail Log Transaksi</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Detail Log Transaksi
				</h5>
			</div>

			<div class="ol-dashboard__content-table-wrapper">

				<div class="ol-dashboard__content-detail">
					<div class="ol-dashboard__content-table-info">
						<div class="ol-dashboard__content-table-info-item">
							<strong>Nomor Transaksi</strong>
							<span>RK3273</span>
						</div>
						<div class="ol-dashboard__content-table-info-item">
							<strong>Sub Transaksi</strong>
							<span>RK3273</span>
						</div>
						<div class="ol-dashboard__content-table-info-item">
							<strong>Tanggal Transaksi</strong>
							<span>Pras Perkasa</span>
						</div>
						<div class="ol-dashboard__content-table-info-item">
							<strong>Mitra</strong>
							<span>Berkah Barokah</span>
						</div>
						<div class="ol-dashboard__content-table-info-item">
							<strong>Nama Pelanggan</strong>
							<span>Jon Smith</span>
						</div>
						<div class="ol-dashboard__content-table-info-item">
							<strong>Status Pembayaran</strong>
							<span>Dibayar</span>
						</div>
						<div class="ol-dashboard__content-table-info-item">
							<strong>Status Pesanan</strong>
							<span>Diproses</span>
						</div>
						<div class="ol-dashboard__content-table-info-item">
							<strong>Alamat</strong>
							<span>Jl. Sumtra 20 Surabaya, Jawa Timur, Indonesia</span>
						</div>
						<div class="ol-dashboard__content-table-info-item">
							<strong>Durasi per Status Pesanan</strong>
							<span class="ol-table__red">48 Jam 15 Menit</span>
						</div>
					</div>
				</div>

				<table class="ol-table ol-table--default" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th>Produk</th>
							<th class="ol-table__150">Harga Satuan</th>
							<th class="ol-table__150">Jumlah</th>
							<th class="ol-table__150">Harga Komulatif</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="ol-table__product">
									<figure>
										<a href="#" target="_blank">
											<img src="images/rumakamu_nd.png" alt="" title="">
										</a>
									</figure>
									<h3>
										<a href="#" target="_blank">
											Produk sofa murah dan bagus joss pokoknya
										</a>
										<span>Warna : Grey</span>
									</h3>
								</div>
							</td>
							<td>
								<span class="ol-number">Rp 431.000</span>
							</td>
							<td>3</td>
							<td>
								<span class="ol-number">Rp 431.000.000</span>
							</td>
						</tr>
						<tr>
							<td>
								<div class="ol-table__product">
									<figure>
										<a href="#" target="_blank">
											<img src="images/rumakamu_nd.png" alt="" title="">
										</a>
									</figure>
									<h3>
										<a href="#" target="_blank">
											Produk sofa murah dan bagus joss pokoknya
										</a>
										<span>Warna : Grey</span>
									</h3>
								</div>
							</td>
							<td>
								<span class="ol-number">Rp 431.000</span>
							</td>
							<td>3</td>
							<td>
								<span class="ol-number">Rp 431.000.000</span>
							</td>
						</tr>
						<tr>
							<td>
								<div class="ol-table__product">
									<figure>
										<a href="#" target="_blank">
											<img src="images/rumakamu_nd.png" alt="" title="">
										</a>
									</figure>
									<h3>
										<a href="#" target="_blank">
											Produk sofa murah dan bagus joss pokoknya
										</a>
										<span>Warna : Grey</span>
									</h3>
								</div>
							</td>
							<td>
								<span class="ol-number">Rp 431.000</span>
							</td>
							<td>3</td>
							<td>
								<span class="ol-number">Rp 431.000.000</span>
							</td>
						</tr>
						<tr>
							<td>
								<div class="ol-table__product">
									<figure>
										<a href="#" target="_blank">
											<img src="images/rumakamu_nd.png" alt="" title="">
										</a>
									</figure>
									<h3>
										<a href="#" target="_blank">
											Produk sofa murah dan bagus joss pokoknya
										</a>
										<span>Warna : Grey</span>
									</h3>
								</div>
							</td>
							<td>
								<span class="ol-number">Rp 431.000</span>
							</td>
							<td>3</td>
							<td>
								<span class="ol-number">Rp 431.000.000</span>
							</td>
						</tr>
					</tbody>
				</table>


				<div class="ol-dashboard__content-button">
					<button class="ol-btn ol-btn--secondary" onclick="back()"><i class="ol-fa fas fa-long-arrow-alt-left"></i> Kembali</button>
				</div>

				
			</div>

		</div>

	</div>


@@include('./_components/end-html.html')