@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">BANTUAN MITRA</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Mitra</span> /
			<span class="ol-dashboard__breadcrumb-link">Bantuan Mitra</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Daftar Bantuan Mitra
				</h5>
			</div>

			<div class="ol-dashboard__content-table-wrapper">

				<table class="ol-table ol-dttable">
					<thead>
						<tr>
							<th class="ol-table__30">No</th>
							<th class="ol-table__150">Nama Toko</th>
							<th>Topik</th>
							<th>Keterangan</th>
							<th class="ol-table__30">Aksi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Berkah Abadi</td>
							<td>Lorem ipsum</td>
							<td>Lorem ipsum dolor sit amet ...</td>
							<td>
								<a class="ol-table__ico" href="mitra-help-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Berkah Abadi</td>
							<td>Lorem ipsum</td>
							<td>Lorem ipsum dolor sit amet ...</td>
							<td>
								<a class="ol-table__ico" href="mitra-help-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Berkah Abadi</td>
							<td>Lorem ipsum</td>
							<td>Lorem ipsum dolor sit amet ...</td>
							<td>
								<a class="ol-table__ico" href="mitra-help-detail.html" title="Detail"><i class="far fa-file-alt"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>


@@include('./_components/end-html.html')