@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">MITRA</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Mitra</span> /
			<span class="ol-dashboard__breadcrumb-link">Mitra</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Daftar Mitra


					<span class="ol-dashboard__content-table-top-filter-btn"><i class="ol-fa fas fa-sort-amount-down"></i> Filter</span>
				</h5>

				<a onclick="showPopup()" class="ol-btn"><i class="fas fa-podcast"></i> Broadcast</a>
			</div>

			<div class="ol-dashboard__content-table-filter">

				<div class="ol-dashboard__content-form-list">
					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show">Filter 1</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input--select-normal">
									<option value="0">Semua</option>
									<option value="1">Aktif</option>
									<option value="2">Libur</option>
									<option value="3">Terminasi</option>
								</select>
							</div>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half2">
						<div class="ol-dashboard__content-form-list-item-of">
							<label class="ol-input-label ol-input-label--show">Filter 2</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input--select-normal" onchange="showSelectArea('areaHide', this)">
									<option value="0">Semua</option>
									<option value="1">Global</option>
									<option value="2">Daerah</option>
									<option value="3">Mitra</option>
								</select>
							</div>

							<div class="ol-select-box ol-select-box--hide" id="areaHide">
								<select class="ol-input ol-input--select-multiple ol-input--select-normal" multiple="multiple">
									<!-- <option value="0" selected>Semua</option> -->
									<option value="1">Jawa Timur</option>
									<option value="2">Jawa Barat</option>
									<option value="3">Jawa Tengah</option>
									<option value="4">DKI Jakarta</option>
								</select>
							</div>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half2">
						<div class="ol-dashboard__content-form-list-item-of">
							<label class="ol-input-label ol-input-label--show">Filter 3</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input--select-normal" onchange="showSelectRate('rateHide', this)">
									<option value="0">Semua</option>
									<option value="1">Peringkat Mitra</option>
									<option value="2">Rata - rata Penilaian</option>
								</select>
							</div>

							<div class="ol-select-box ol-select-box--hide" id="rateHide">
								<select class="ol-input ol-input--select-normal">
									<option value="0">Semua</option>
									<option value="1">1 (Satu</option>
									<option value="2">2 (Dua)</option>
									<option value="3">3 (Tiga)</option>
									<option value="4">4 (Empat)</option>
									<option value="5">5 (Lima)</option>
								</select>
							</div>

							<div class="ol-select-box ol-select-box--hide" id="aveHide">
								<select class="ol-input ol-input--select-normal">
									<option value="0">Semua</option>
									<option value="1">1 (Satu</option>
									<option value="2">2 (Dua)</option>
									<option value="3">3 (Tiga)</option>
									<option value="4">4 (Empat)</option>
									<option value="5">5 (Lima)</option>
								</select>
							</div>
						
						</div>
					</div>

				

					<!-- <div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-of">
							<label class="ol-input-label ol-input-label--show">Penjualan</label>
							<input type="Text" class="ol-input" placeholder="Awal"><span>-</span><input type="Text" class="ol-input" placeholder="Akhir">
						</div>
					</div> -->
				</div>


				<div class="ol-dashboard__content-button">
					<button class="ol-btn"><i class="ol-fa fas fa-filter"></i> Terapkan</button>
				</div>
				
			</div>

			<!-- <div class="ol-dashboard__content-table-column">
				Kolom yang ditampilkan : <a class="toggle-vis" data-column="1">Nama</a> - <a class="toggle-vis" data-column="2">Telepon</a> - <a class="toggle-vis" data-column="3">Penilaian</a>
			</div> -->

			<div class="ol-dashboard__content-table-wrapper">

				<table class="ol-table ol-dttable">
					<thead>
						<tr>
							<th class="ol-table__30">No</th>
							<th>Nama</th>
							<th class="ol-table__150">Telepon</th>
							<th class="ol-table__150">Penilaian</th>
							<th class="ol-table__40">Aksi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>
								<div class="ol-table__hover">
									Toko Berkah Abadi
									<div class="ol-table__hover-dd">
										<div class="ol-table__product">
											<figure>
												<a href="#">
													<img src="images/rumakamu_nd.png" alt="" title="">
												</a>
											</figure>
											<div>
												<p>#123456</p>
												<p><strong>Toko Berkah Abadi</strong></p>
												<p>Luas 45 m2</p>
												<p>Jl. Sumatra 20 Surabaya, Jawa Timur, Indonesia</p>
											</div>
										</div>
									</div>
								</div>
							</td>
							<td>031 9098909</td>
							<td>
								<p class="ol-table__star-rate"><strong>4.9</strong>/5</p>
								<div class="ol-table__star">
									<a onclick="showPopupSecond()" class="ol-table__popup-link">
										
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--off"></i>
										<i class="fas fa-star far--off"></i>
									</a>
								</div>
								<p class="ol-table__star-text">(245) Ulasan</p>
							</td>
							<td>
								<a class="ol-table__ico" href="mitra-help-detail.html" title="Detail"><i class="fas fa-boxes"></i></a>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>
								<div class="ol-table__hover">
									Toko Berkah Abadi
									<div class="ol-table__hover-dd">
										<div class="ol-table__product">
											<figure>
												<a href="#">
													<img src="images/rumakamu_nd.png" alt="" title="">
												</a>
											</figure>
											<div>
												<p>#123456</p>
												<p><strong>Toko Berkah Abadi</strong></p>
												<p>Luas 45 m2</p>
												<p>Jl. Sumatra 20 Surabaya, Jawa Timur, Indonesia</p>
											</div>
										</div>
									</div>
								</div>
							</td>
							<td>031 9098909</td>
							<td>
								<p class="ol-table__star-rate"><strong>4.9</strong>/5</p>
								<div class="ol-table__star">
									<a onclick="showPopupSecond()" class="ol-table__popup-link">
										
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--off"></i>
										<i class="fas fa-star far--off"></i>
									</a>
								</div>
								<p class="ol-table__star-text">(245) Ulasan</p>
							</td>
							<td>
								<a class="ol-table__ico" href="mitra-help-detail.html" title="Detail"><i class="fas fa-boxes"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		<div class="ol-popup ol-popup--general">
			<form>
				<div class="ol-popup-wrapper">

					<div class="ol-popup-box ol-popup-box--address">

						<a class="ol-popup-box__close" onclick="showPopup()">
							<i class="ol-fa fas fa-times"></i>
						</a>



						<div class="ol-dashboard__content-table">
							<div class="ol-dashboard__content-table-top">
								<h5 class="ol-dashboard__content-table-top-title">
									Broadcast
								</h5>
							</div>
							<div class="ol-dashboard__content-form ol-dashboard__content-table-wrapper--popup">
								<div class="ol-dashboard__content-form-list">

									<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--third">
										<div class="ol-dashboard__content-form-list-item-ico">
											<label class="ol-input-label ol-input-label--show">Penerima Broadcast</label>
											<div class="ol-select-box">
												<select class="ol-input ol-input--select-normal">
													<option>Semua</option>
													<option value="1">Global</option>
													<option value="2">Daerah</option>
													<option value="3">Mitra</option>
												</select>
											</div>
										
										</div>
									</div>

									<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
										<label class="ol-input-label"><i>*</i> Judul</label>
										<input type="text" class="ol-input" placeholder="Judul">
									</div>

									<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
										<label class="ol-input-label"><i>*</i> Pesan</label>
										<textarea class="ol-input ol-input-textarea" placeholder="Pesan"></textarea>
									</div>

									<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
										<div class="ol-input-attach">
											<a href="#" class="ol-input-attach__link">
												<i class="ol-fa fas fa-paperclip"></i> Lampiran
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="ol-dashboard__content-button">
								<a class="ol-btn ol-btn--secondary" onclick="showPopup()"><i class="ol-fa fas fa-times"></i> Batal</a>
								<button class="ol-btn"><i class="ol-fa far fa-paper-plane"></i> Kirim</button>
							</div>
						</div>
						
					</div>

				</div>
			</form>
		</div>

		<div class="ol-popup ol-popup--second">
			<form>
				<div class="ol-popup-wrapper">

					<div class="ol-popup-box ol-popup-box--address">

						<a class="ol-popup-box__close" onclick="showPopupSecond()">
							<i class="ol-fa fas fa-times"></i>
						</a>



						<div class="ol-dashboard__content-table">
							<div class="ol-dashboard__content-table-top">
								<h5 class="ol-dashboard__content-table-top-title">
									Performa Mitra
								</h5>
							</div>
							<div class="ol-dashboard__content-table-info">
								<div class="ol-dashboard__content-table-info-item">
									<strong>ID Mitra</strong>
									<span>RK3273</span>
								</div>
								<div class="ol-dashboard__content-table-info-item">
									<strong>Nama</strong>
									<span>Pras Perkasa</span>
								</div>
								<div class="ol-dashboard__content-table-info-item">
									<strong>Luas</strong>
									<span>50 m2</span>
								</div>
								<div class="ol-dashboard__content-table-info-item">
									<strong>Lokasi</strong>
									<span>Jl. Sumtra 20 Surabaya, Jawa Timur, Indonesia</span>
								</div>
								<div class="ol-dashboard__content-table-info-item">
									<strong>Telepon</strong>
									<span>RK3273</span>
								</div>
								<div class="ol-dashboard__content-table-info-item">
									<strong>Performa</strong>
									<div>
										<p class="ol-table__star-rate"><b>4.9</b>/5</p>
										<div class="ol-table__star">				
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star-half far--on"></i>
										</div>
										<p class="ol-table__star-text">(245) Ulasan</p>
									</div>
								</div>
							</div>
							<div class="ol-dashboard__content-table-data">
								<div class="ol-dashboard__content-table-data-item">
									<div class="ol-dashboard__content-table-data-item-wrapper">
										<h4>Masa Pengemasan</h4>
										<h3>1</h3>
										<p>Hari Kerja</p>
									</div>
								</div>
								<div class="ol-dashboard__content-table-data-item">
									<div class="ol-dashboard__content-table-data-item-wrapper">
										<h4>Penilaian Pelanggan</h4>
										<h3>4.8</h3>
										<p>dari 3.4rb Penilaian</p>
									</div>
								</div>
								<div class="ol-dashboard__content-table-data-item">
									<div class="ol-dashboard__content-table-data-item-wrapper">
										<h4>Pesanan Tidak Sukses</h4>
										<h3>0%</h3>
										<p>dari 3rb Pesanan</p>
									</div>
								</div>
								<div class="ol-dashboard__content-table-data-item">
									<div class="ol-dashboard__content-table-data-item-wrapper">
										<h4>Keterlambatan Pesanan</h4>
										<h3>0%</h3>
										<p>dari 3rb Pesanan</p>
									</div>
								</div>
							</div>
							<div class="ol-dashboard__content-text">
								Lihat lebih detail dihalaman <a href="#" class="ol-link">Transaksi Mitra.</a>
							</div>
							<div class="ol-alert ol-alert--info">
								Lorem ipsum dolor sit amet.
							</div>
						</div>
						
					</div>

				</div>
			</form>
		</div>

	</div>


@@include('./_components/end-html.html')