@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">PRODUK</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Produk</span> /
			<span class="ol-dashboard__breadcrumb-link">Produk</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Daftar Produk

					<span class="ol-dashboard__content-table-top-filter-btn"><i class="ol-fa fas fa-sort-amount-down"></i> Filter</span>
				</h5>
			</div>

			<!-- <div class="ol-dashboard__content-table-filter">

				<div class="ol-dashboard__content-form-list">

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show">Status</label>
							<select class="ol-input ol-input-select" id="status">
								<option></option>
								<option value="1">Semua</option>
								<option value="2">Aktif</option>
								<option value="3">Tidak Aktif</option>
								<option value="4">Discontinued</option>
							</select>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show">Area</label>
							<select class="ol-input ol-input-select" id="area">
								<option></option>
								<option value="1">Global</option>
								<option value="2">Daerah</option>
								<option value="3">Mitra</option>
							</select>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show">Brand</label>
							<select class="ol-input ol-input-select" id="brand">
								<option></option>
								<option value="1">Olympic</option>
								<option value="2">Olymplast</option>
								<option value="3">Frontline</option>
							</select>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-of">
							<label class="ol-input-label ol-input-label--show">Periode</label>
							<input type="date" class="ol-input" placeholder="Awal"><span>-</span><input type="date" class="ol-input" placeholder="Akhir">
						</div>
					</div>
				</div>


				<div class="ol-dashboard__content-button">
					<button class="ol-btn"><i class="ol-fa fas fa-filter"></i> Terapkan</button>
				</div>
				
			</div> -->


			<div class="ol-dashboard__content-table-filter">

				<div class="ol-dashboard__content-form-list">


					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show">Status</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input--select-normal">
									<option value="0">Semua</option>
									<option value="1">Aktif</option>
									<option value="2">Tidak Aktif</option>
									<option value="3">Discontinued</option>
								</select>
							</div>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-of">
							<label class="ol-input-label ol-input-label--show">Periode</label>
							<input type="date" class="ol-input" placeholder="Awal"><span>-</span><input type="date" class="ol-input" placeholder="Akhir">
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-of">
							<label class="ol-input-label ol-input-label--show">Kategori / Brand</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input--select-normal" id="chgCatBrand">
									<option value="0">Semua</option>
									<option value="chgCat">Kategori</option>
									<option value="chgBrand">Brand</option>
								</select>
							</div>

							<div class="ol-select-box ol-select-box--hide2" id="chgCat">
								<select class="ol-input ol-input ol-input--select-normal">
									<option value="0">Semua</option>
									<option value="1">Kamar Tidur</option>
									<option value="2">Ruang Makan</option>
									<option value="3">Dapur</option>
								</select>
							</div>


							<div class="ol-select-box ol-select-box--hide2" id="chgBrand">
								<select class="ol-input ol-input ol-input--select-normal">
									<option value="0">Semua</option>
									<option value="1">Olymplast</option>
									<option value="2">Olympic</option>
									<option value="3">Bearland</option>
								</select>
							</div>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
						<div class="ol-dashboard__content-form-list-item-of">
							<label class="ol-input-label ol-input-label--show">Area</label>
							<div class="ol-select-box" style="width:31%;">
								<select class="ol-input ol-input--select-normal" id="chgArea">
									<option value="0">Semua</option>
									<option value="1">Global</option>
									<option value="chgAreaProv">Daerah</option>
									<option value="chgAreaMitra">Mitra</option>
								</select>
							</div>

							<div class="ol-select-box ol-select-box--hide" id="chgAreaProv">
								<select class="ol-input ol-input--select-multiple ol-input--select-normal" multiple="multiple">
									<!-- <option value="0" selected>Semua</option> -->
									<option value="1">Jawa Timur</option>
									<option value="2">Jawa Barat</option>
									<option value="3">Jawa Tengah</option>
									<option value="4">DKI Jakarta</option>
								</select>
							</div>


							<div class="ol-select-box ol-select-box--hide" id="chgAreaMitra">
								<select class="ol-input ol-input--select-multiple ol-input--select-normal" multiple="multiple">
									<!-- <option value="0" selected>Semua</option> -->
									<option value="1">AF66 | Berkah</option>
									<option value="2">AF56 | Barokah</option>
									<option value="3">AF86 | Maju</option>
									<option value="4">AF96 | Sentosa</option>
								</select>
							</div>
						
						</div>
					</div>

				</div>


				<div class="ol-dashboard__content-button">
					<button class="ol-btn"><i class="ol-fa fas fa-filter"></i> Terapkan</button>
				</div>
				
			</div>

			<div class="ol-dashboard__content-table-check">
				<span>5</span> Produk dipilih
				<!-- <div class="ol-select-box">
					<select class="ol-input ol-input--select-normal">
						<option value="0">Pilih Aksi</option>
						<option value="1">Aktif</option>
						<option value="1">Non Aktif</option>
					</select>
				</div> -->

				<div class="ol-btn-group">
					<a href="#" class="ol-btn">Aktif</a>
					<a href="#" class="ol-btn">Nonaktif</a>
					<a href="#" class="ol-btn">Discontinued</a>
				</div>
			</div>

			<div class="ol-dashboard__content-table-wrapper">
				<table class="ol-table ol-dttable">
					<thead>
						<tr>
							<th class="ol-table__30">
								<div class="checkbox">
									<input type="checkbox" id="chkAll" />
									<label for="chkAll"></label>
								</div>
							</th>
							<th>Produk</th>
							<th class="ol-table__100">Harga Jual</th>
							<th>Stok</th>
							<th>Terjual</th>
							<th class="ol-table__100">Penilaian Rata - Rata</th>
							<th class="ol-table__100">Terakhir Terjual</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="checkbox">
									<input type="checkbox" id="Chk1">
									<label for="Chk1"></label>
								</div>
							</td>
							<td>
								<div class="ol-table__hover">
									Rak Susun RSO - Susun 1 - Brown
									<div class="ol-table__hover-dd">
										<div class="ol-table__product">
											<figure>
												<a href="#">
													<img src="images/rumakamu_nd.png" alt="" title="">
												</a>
											</figure>
											<div>
												<p>RSO01</p>
												<p><strong>Rak Susun RSO - Susun 1 - Brown</strong></p>
												<p>Olymplast</p>
												<p>Plastik</p>
											</div>
										</div>
									</div>
								</div>
							</td>
							<td><span class="ol-number">Rp 9.999.999</span></td>
							<td><span class="ol-number">9.999</span></td>
							<td><span class="ol-number">9.999</span></td>
							<td>
								<p class="ol-table__star-rate"><strong>4.9</strong>/5</p>
								<div class="ol-table__star">
									<a onclick="showPopupSecond()" class="ol-table__popup-link">					
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star-half far--on"></i>
									</a>
								</div>
								<p class="ol-table__star-text">(245) Ulasan</p>
							</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>Aktif</td>
							<!-- <td>
								<a class="ol-table__ico" href="#" title="Pengaturan"><i class="fas fa-cog"></i></a>
							</td> -->
						</tr>
						<tr>
							<td>
								<div class="checkbox">
									<input type="checkbox" id="Chk1">
									<label for="Chk1"></label>
								</div>
							</td>
							<td>
								<div class="ol-table__hover">
									Rak Susun RSO - Susun 1 - Brown
									<div class="ol-table__hover-dd">
										<div class="ol-table__product">
											<figure>
												<a href="#">
													<img src="images/rumakamu_nd.png" alt="" title="">
												</a>
											</figure>
											<div>
												<p>RSO01</p>
												<p><strong>Rak Susun RSO - Susun 1 - Brown</strong></p>
												<p>Olymplast</p>
												<p>Plastik</p>
											</div>
										</div>
									</div>
								</div>
							</td>
							<td><span class="ol-number">Rp 9.999.999</span></td>
							<td><span class="ol-number">9.999</span></td>
							<td><span class="ol-number">9.999</span></td>
							<td>
								<p class="ol-table__star-rate"><strong>4.9</strong>/5</p>
								<div class="ol-table__star">
									<a onclick="showPopupSecond()" class="ol-table__popup-link">						
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star-half far--on"></i>
									</a>
								</div>
								<p class="ol-table__star-text">(245) Ulasan</p>
							</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>Aktif</td>
							<!-- <td>
								<a class="ol-table__ico" href="#" title="Pengaturan"><i class="fas fa-cog"></i></a>
							</td> -->
						</tr>
						<tr>
							<td>
								<div class="checkbox">
									<input type="checkbox" id="Chk1">
									<label for="Chk1"></label>
								</div>
							</td>
							<td>
								<div class="ol-table__hover">
									Rak Susun RSO - Susun 1 - Brown
									<div class="ol-table__hover-dd">
										<div class="ol-table__product">
											<figure>
												<a href="#">
													<img src="images/rumakamu_nd.png" alt="" title="">
												</a>
											</figure>
											<div>
												<p>RSO01</p>
												<p><strong>Rak Susun RSO - Susun 1 - Brown</strong></p>
												<p>Olymplast</p>
												<p>Plastik</p>
											</div>
										</div>
									</div>
								</div>
							</td>
							<td><span class="ol-number">Rp 9.999.999</span></td>
							<td><span class="ol-number">9.999</span></td>
							<td><span class="ol-number">9.999</span></td>
							<td>
								<p class="ol-table__star-rate"><strong>4.9</strong>/5</p>
								<div class="ol-table__star">
									<a onclick="showPopupSecond()" class="ol-table__popup-link">						
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star far--on"></i>
										<i class="fas fa-star-half far--on"></i>
									</a>
								</div>
								<p class="ol-table__star-text">(245) Ulasan</p>
							</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>Aktif</td>
							<!-- <td>
								<a class="ol-table__ico" href="#" title="Pengaturan"><i class="fas fa-cog"></i></a>
							</td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		<div class="ol-popup ol-popup--second">
			<form>
				<div class="ol-popup-wrapper">

					<div class="ol-popup-box ol-popup-box--address">

						<a class="ol-popup-box__close" onclick="showPopupSecond()">
							<i class="ol-fa fas fa-times"></i>
						</a>



						<div class="ol-dashboard__content-table">
							<div class="ol-dashboard__content-table-top">
								<h5 class="ol-dashboard__content-table-top-title">
									Penilaian Rata - rata
								</h5>
							</div>
							<div class="ol-dashboard__content-table-info">
								<div class="ol-dashboard__content-table-info-item">
									<strong>Nama Produk</strong>
									<span>Rak Susun RSO - Susun 1 - Brown</span>
								</div>
								<div class="ol-dashboard__content-table-info-item">
									<strong>Stok</strong>
									<span>500</span>
								</div>
								<div class="ol-dashboard__content-table-info-item">
									<strong>Terjual</strong>
									<span>400</span>
								</div>
								<div class="ol-dashboard__content-table-info-item">
									<strong>Terakhir Terjual</strong>
									<span>09/09/2020</span>
								</div>
								<div class="ol-dashboard__content-table-info-item">
									<strong>Performa</strong>
									<div>
										<p class="ol-table__star-rate"><b>4.9</b>/5</p>
										<div class="ol-table__star">				
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star-half far--on"></i>
										</div>
										<p class="ol-table__star-text">(245) Ulasan</p>
									</div>
								</div>
							</div>
							<div class="ol-dashboard__content-table-data ol-dashboard__content-table-data--prd">
								<div class="ol-dashboard__content-table-data-item">
									<div class="ol-dashboard__content-table-data-item-wrapper">
										<h4>5 Bintang</h4>
										<div class="ol-table__star">				
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
										</div>
										<h3>21</h3>
										<p>Ulasan</p>
									</div>
								</div>
								<div class="ol-dashboard__content-table-data-item">
									<div class="ol-dashboard__content-table-data-item-wrapper">
										<h4>4 Bintang</h4>
										<div class="ol-table__star">				
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--off"></i>
										</div>
										<h3>48</h3>
										<p>Ulasan</p>
									</div>
								</div>
								<div class="ol-dashboard__content-table-data-item">
									<div class="ol-dashboard__content-table-data-item-wrapper">
										<h4>3 Bintang</h4>
										<div class="ol-table__star">				
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--off"></i>
											<i class="fas fa-star far--off"></i>
										</div>
										<h3>0</h3>
										<p>Ulasan</p>
									</div>
								</div>
								<div class="ol-dashboard__content-table-data-item">
									<div class="ol-dashboard__content-table-data-item-wrapper">
										<h4>2 Bintang</h4>
										<div class="ol-table__star">				
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--off"></i>
											<i class="fas fa-star far--off"></i>
											<i class="fas fa-star far--off"></i>
										</div>
										<h3>0</h3>
										<p>Ulasan</p>
									</div>
								</div>
								<div class="ol-dashboard__content-table-data-item">
									<div class="ol-dashboard__content-table-data-item-wrapper">
										<h4>1 Bintang</h4>
										<div class="ol-table__star">				
											<i class="fas fa-star far--on"></i>
											<i class="fas fa-star far--off"></i>
											<i class="fas fa-star far--off"></i>
											<i class="fas fa-star far--off"></i>
											<i class="fas fa-star far--off"></i>
										</div>
										<h3>0</h3>
										<p>Ulasan</p>
									</div>
								</div>
							</div>
						</div>
						
					</div>

				</div>
			</form>
		</div>

	</div>


@@include('./_components/end-html.html')