@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-dashboard__content">


	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">MANAJEMEN PRODUK</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Marketing</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Produk</span>
		</div>
	</div>



	<div class="ol-dashboard__content-wrapper">
		
		<form action="cat-product.html">

			<div class="ol-dashboard__content-form">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Tambah Variasi
					</h5>
				</div>
				<div class="ol-dashboard__content-form-list">

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show"><i>*</i> SKU Group</label>
							<select class="ol-input ol-input-select" id="grupsku">
								<option></option>
								<option value="1">CBO01</option>
								<option value="2">CBO02</option>
								<option value="3">CBO03</option>
							</select>
							
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<a href="#" class="ol-btn"><i class="fas fa-plus-circle"></i></a>
					</div>

				</div>

				<div class="ol-dashboard__content-form-exp">

					<div class="ol-dashboard__content-form-exp-item">
						<h4 class="ol-dashboard__content-form-exp-item-title">CBO01 <i class="ol-fa fas fa-chevron-down"></i></h4>

						<div class="ol-dashboard__content-form-exp-item-wrapper">

							<div class="ol-dashboard__content-form-list">

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half ol-input--readonly">
									<label class="ol-input-label ol-input-label--show">SKU Group</label>
									<input type="text" class="ol-input" placeholder="SKU Group" value="CBO0123" readonly>
								</div>

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
									<label class="ol-input-label"><i>*</i> Nama Varian</label>
									<input type="Text" class="ol-input" placeholder="Nama Varian">
								</div>

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half ol-input--readonly">
									<div class="ol-dashboard__content-form-list-item-nominal">
										<label class="ol-input-label ol-input-label--show">Harga</label>
										<input type="text" class="ol-input" placeholder="Harga" readonly value="700000">
										<span class="ol-fa">Rp</span>
									</div>
								</div>

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
									<div class="ol-dashboard__content-form-list-item-nominal">
										<label class="ol-input-label">Harga Terendah</label>
										<input type="text" class="ol-input" placeholder="Harga Terendah">
										<span class="ol-fa">Rp</span>
									</div>
								</div>

							</div>

							<table class="ol-table ol-table--default" cellspacing="0" cellpadding="0">
								<thead>
									<tr>
										<th>SKU Single</th>
										<th class="ol-table__150">Warna</th>
										<th class="ol-table__150">Dimensi</th>
										<th class="ol-table__150">Material</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1234
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1235
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1236
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1237
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>


					<div class="ol-dashboard__content-form-exp-item">
						<h4 class="ol-dashboard__content-form-exp-item-title">CBO02 <i class="ol-fa fas fa-chevron-down"></i></h4>

						<div class="ol-dashboard__content-form-exp-item-wrapper">

							<div class="ol-dashboard__content-form-list">

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half ol-input--readonly">
									<label class="ol-input-label ol-input-label--show">SKU Group</label>
									<input type="text" class="ol-input" placeholder="SKU Group" value="CBO0123" readonly>
								</div>

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
									<label class="ol-input-label"><i>*</i> Nama Varian</label>
									<input type="Text" class="ol-input" placeholder="Nama Varian">
								</div>

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half ol-input--readonly">
									<div class="ol-dashboard__content-form-list-item-nominal">
										<label class="ol-input-label ol-input-label--show">Harga</label>
										<input type="text" class="ol-input" placeholder="Harga" readonly value="700000">
										<span class="ol-fa">Rp</span>
									</div>
								</div>

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
									<div class="ol-dashboard__content-form-list-item-nominal">
										<label class="ol-input-label">Harga Terendah</label>
										<input type="text" class="ol-input" placeholder="Harga Terendah">
										<span class="ol-fa">Rp</span>
									</div>
								</div>

							</div>

							<table class="ol-table ol-table--default" cellspacing="0" cellpadding="0">
								<thead>
									<tr>
										<th>SKU Single</th>
										<th class="ol-table__150">Warna</th>
										<th class="ol-table__150">Dimensi</th>
										<th class="ol-table__150">Material</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1234
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1235
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1236
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1237
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>

				</div>

			</div>


			<div class="ol-dashboard__content-button">
				<button class="ol-btn ol-btn--secondary" onclick="back()"><i class="ol-fa fas fa-times"></i> Batal</button>
				<button class="ol-btn"><i class="ol-fa far fa-save"></i> Simpan</button>
			</div>

		</form>

	</div>


@@include('./_components/end-html.html')