@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-dashboard__content">


	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">MANAJEMEN PRODUK</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Marketing</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Produk</span>
		</div>
	</div>



	<div class="ol-dashboard__content-wrapper">
		
		<form action="product-management.html">

			<div class="ol-dashboard__content-form">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Tambah Produk
					</h5>
				</div>
				<div class="ol-dashboard__content-form-list">

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Nama Produk</label>
						<input type="Text" class="ol-input" placeholder="Nama Produk">
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show"><i>*</i> Parent SKU</label>
							<select class="ol-input ol-input-select" id="parentsku">
								<option></option>
								<option value="1">CBO01</option>
								<option value="2">CBO02</option>
								<option value="3">CBO03</option>
							</select>
							
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show"><i>*</i> Brand</label>
							<select class="ol-input ol-input-select" id="brand">
								<option></option>
								<option value="1">Olympast</option>
								<option value="2">Frontline</option>
								<option value="3">Procella</option>
								<option value="3">Bearland</option>
							</select>
							
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
						<div class="ol-dashboard__content-form-list-item-ico ol-dashboard__content-form-list-item-ico--prd">
							<label class="ol-input-label">Kategori</label>
							<input type="Text" class="ol-input" placeholder="Kategori">
							<i class="ol-fa fas fa-search"></i>
						</div>
						<ul class="ol-dashboard__content-form-list-item-cat">
							<li>
								<span class="ol-dashboard__content-form-list-item-cat-click">Ruang Makan dan Dapur <i class="ol-fa fas fa-chevron-right"></i></span>
								<div class="ol-dashboard__content-form-list-item-cat-dd">
									<span>Lemari</span>
									<span>Rak</span>
									<span>Laci</span>
									<span>Lemari</span>
									<span>Rak</span>
									<span>Laci</span>
								</div>
							</li>
							<li>
								<span class="ol-dashboard__content-form-list-item-cat-click">Ruang Makan dan Dapur <i class="ol-fa fas fa-chevron-right"></i></span>
								<div class="ol-dashboard__content-form-list-item-cat-dd">
									<span>Lemari</span>
									<span>Rak</span>
									<span>Laci</span>
									<span>Lemari</span>
									<span>Rak</span>
									<span>Laci</span>
								</div>
							</li>
							<li>
								<span class="ol-dashboard__content-form-list-item-cat-click">Ruang Makan dan Dapur <i class="ol-fa fas fa-chevron-right"></i></span>
								<div class="ol-dashboard__content-form-list-item-cat-dd">
									<span>Lemari</span>
									<span>Rak</span>
									<span>Laci</span>
									<span>Lemari</span>
									<span>Rak</span>
									<span>Laci</span>
								</div>
							</li>
							<li>
								<span class="ol-dashboard__content-form-list-item-cat-click">Ruang Makan dan Dapur <i class="ol-fa fas fa-chevron-right"></i></span>
								<div class="ol-dashboard__content-form-list-item-cat-dd">
									<span>Lemari</span>
									<span>Rak</span>
									<span>Laci</span>
									<span>Lemari</span>
									<span>Rak</span>
									<span>Laci</span>
								</div>
							</li>
							<li>
								<span class="ol-dashboard__content-form-list-item-cat-click">Ruang Makan dan Dapur <i class="ol-fa fas fa-chevron-right"></i></span>
								<div class="ol-dashboard__content-form-list-item-cat-dd">
									<span>Lemari</span>
									<span>Rak</span>
									<span>Laci</span>
									<span>Lemari</span>
									<span>Rak</span>
									<span>Laci</span>
									<span>Lemari</span>
									<span>Rak</span>
									<span>Laci</span>
									<span>Lemari</span>
									<span>Rak</span>
									<span>Laci</span>
								</div>
							</li>
							<li>
								<span class="ol-dashboard__content-form-list-item-cat-click">Ruang Makan dan Dapur <i class="ol-fa fas fa-chevron-right"></i></span>
								<div class="ol-dashboard__content-form-list-item-cat-dd">
									<span>Lemari</span>
									<span>Rak</span>
								</div>
							</li>
						</ul>

						<div class="ol-dashboard__content-form-list-item-cat-choice">
							<strong>Kategori Produk :</strong>
							<div>
								<small>Ruang Tamu - Tempat Penyimpanan</small>
								<small>Kamar Tamu - Tempat Penyimpanan</small>
								<small>Dapur - Tempat Penyimpanan</small>
							</div>
						</div>

					</div>


					<!-- <div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
						<label class="ol-input-label"><i>*</i> Deskripsi</label>
						<textarea class="ol-input ol-input-textarea" placeholder="Deskripsi" id="editor1"></textarea>
					</div> -->

					<!-- <div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
						<label class="ol-input-label"><i>*</i> Informasi Tambahan</label>
						<textarea class="ol-input ol-input-textarea" placeholder="Informasi Tambahan" id="editor2"></textarea>
					</div> -->
				</div>
			</div>

			<div class="ol-dashboard__content-form">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title ol-dashboard__content-table-top-title--sub">
						Deskripsi
					</h5>
				</div>
				<div class="ol-dashboard__content-form-list">
					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
						<label class="ol-input-label"><i>*</i> Deskripsi</label>
						<textarea class="ol-input ol-input-textarea" placeholder="Deskripsi" id="editor1"></textarea>
					</div>
				</div>
			</div>

			<div class="ol-dashboard__content-form">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title ol-dashboard__content-table-top-title--sub">
						Informasi Tambahan
					</h5>
				</div>
				<div class="ol-dashboard__content-form-list">
					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
						<label class="ol-input-label"><i>*</i> Informasi Tambahan</label>
						<textarea class="ol-input ol-input-textarea" placeholder="Informasi Tambahan" id="editor2"></textarea>
					</div>
				</div>
			</div>

			<div class="ol-dashboard__content-form">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title ol-dashboard__content-table-top-title--sub">
						Gambar Thumbnail
					</h5>
				</div>
				<div class="ol-dashboard__content-form-list">

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
						<div class="ol-dashboard__content-form-list-item-images">
							<div class="ol-dashboard__content-form-list-item-images-item">
								<div class="ol-dashboard__content-form-list-item-images-item-wrapper">
									<input type="file" class="ol-input-file" name="" id="thumb1">
									<i class="ol-fa fas fa-plus-circle"></i>
									<span>Gambar Utama</span>
								</div>
							</div>

							<div class="ol-dashboard__content-form-list-item-images-item">
								<div class="ol-dashboard__content-form-list-item-images-item-wrapper">
									<input type="file" class="ol-input-file" name="" id="thumb2">
									<i class="ol-fa fas fa-plus-circle"></i>
									<span>Gambar Hover</span>
								</div>
							</div>

							<div class="ol-dashboard__content-form-list-item-images-item">
								<div class="ol-dashboard__content-form-list-item-images-item-wrapper">
									<input type="file" class="ol-input-file" name="" id="thumb3">
									<i class="ol-fa fas fa-plus-circle"></i>
									
								</div>
							</div>

							<div class="ol-dashboard__content-form-list-item-images-item">
								<div class="ol-dashboard__content-form-list-item-images-item-wrapper">
									<input type="file" class="ol-input-file" name="" id="thumb4">
									<i class="ol-fa fas fa-plus-circle"></i>
									
								</div>
							</div>

							<div class="ol-dashboard__content-form-list-item-images-item">
								<div class="ol-dashboard__content-form-list-item-images-item-wrapper">
									<input type="file" class="ol-input-file" name="" id="thumb5">
									<i class="ol-fa fas fa-plus-circle"></i>
									
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="ol-dashboard__content-table">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Tambah Varian
					</h5>
					<!-- <a href="product-varian-add.html" class="ol-btn"><i class="fas fa-plus-circle"></i> Tambah Varian</a> -->
				</div>
				<!-- <div class="ol-dashboard__content-table-wrapper">
					<table class="ol-table ol-dttable">
						<thead>
							<tr>
								<th class="ol-table__30">No</th>
								<th>SKU Group</th>
								<th>Nama Varian</th>
								<th>Warna</th>
								<th>Harga Terendah</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>ODC02</td>
								<td>Klasik Susun 2</td>
								<td>Putih, Merah</td>
								<td><span class="ol-number">Rp 75.000</span></td>
								<td>
									<a class="ol-table__ico" href="banner-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>ODC05</td>
								<td>Modern Susun 2</td>
								<td>Kuning, Hijau</td>
								<td><span class="ol-number">Rp 75.000</span></td>
								<td>
									<a class="ol-table__ico" href="banner-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div> -->


				<div class="ol-dashboard__content-form-list">

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show"><i>*</i> SKU Group</label>
							<select class="ol-input ol-input-select" id="grupsku">
								<option></option>
								<option value="1">CBO01</option>
								<option value="2">CBO02</option>
								<option value="3">CBO03</option>
							</select>
							
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<a href="#" class="ol-btn"><i class="fas fa-plus-circle"></i></a>
					</div>

				</div>

				<div class="ol-dashboard__content-form-exp">

					<div class="ol-dashboard__content-form-exp-item">
						<h4 class="ol-dashboard__content-form-exp-item-title">CBO01 <i class="ol-fa fas fa-chevron-down"></i></h4>

						<div class="ol-dashboard__content-form-exp-item-wrapper">

							<div class="ol-dashboard__content-form-list">

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half ol-input--readonly">
									<label class="ol-input-label ol-input-label--show">SKU Group</label>
									<input type="text" class="ol-input" placeholder="SKU Group" value="CBO0123" readonly>
								</div>

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
									<label class="ol-input-label"><i>*</i> Nama Varian</label>
									<input type="Text" class="ol-input" placeholder="Nama Varian">
								</div>

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half ol-input--readonly">
									<div class="ol-dashboard__content-form-list-item-nominal">
										<label class="ol-input-label ol-input-label--show">Harga</label>
										<input type="text" class="ol-input" placeholder="Harga" readonly value="700000">
										<span class="ol-fa">Rp</span>
									</div>
								</div>

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
									<div class="ol-dashboard__content-form-list-item-nominal">
										<label class="ol-input-label">Harga Terendah</label>
										<input type="text" class="ol-input" placeholder="Harga Terendah">
										<span class="ol-fa">Rp</span>
									</div>
								</div>

							</div>

							<table class="ol-table ol-table--default" cellspacing="0" cellpadding="0">
								<thead>
									<tr>
										<th>SKU Single</th>
										<th class="ol-table__150">Warna</th>
										<th class="ol-table__150">Dimensi</th>
										<th class="ol-table__150">Material</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1234
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1235
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1236
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1237
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>


					<div class="ol-dashboard__content-form-exp-item">
						<h4 class="ol-dashboard__content-form-exp-item-title">CBO02 <i class="ol-fa fas fa-chevron-down"></i></h4>

						<div class="ol-dashboard__content-form-exp-item-wrapper">

							<div class="ol-dashboard__content-form-list">

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half ol-input--readonly">
									<label class="ol-input-label ol-input-label--show">SKU Group</label>
									<input type="text" class="ol-input" placeholder="SKU Group" value="CBO0123" readonly>
								</div>

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
									<label class="ol-input-label"><i>*</i> Nama Varian</label>
									<input type="Text" class="ol-input" placeholder="Nama Varian">
								</div>

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half ol-input--readonly">
									<div class="ol-dashboard__content-form-list-item-nominal">
										<label class="ol-input-label ol-input-label--show">Harga</label>
										<input type="text" class="ol-input" placeholder="Harga" readonly value="700000">
										<span class="ol-fa">Rp</span>
									</div>
								</div>

								<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
									<div class="ol-dashboard__content-form-list-item-nominal">
										<label class="ol-input-label">Harga Terendah</label>
										<input type="text" class="ol-input" placeholder="Harga Terendah">
										<span class="ol-fa">Rp</span>
									</div>
								</div>

							</div>

							<table class="ol-table ol-table--default" cellspacing="0" cellpadding="0">
								<thead>
									<tr>
										<th>SKU Single</th>
										<th class="ol-table__150">Warna</th>
										<th class="ol-table__150">Dimensi</th>
										<th class="ol-table__150">Material</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1234
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1235
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1236
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
									<tr>
										<td>
											<div class="ol-table__product">
												<figure>
													<a href="#" target="_blank">
														<img src="images/rumakamu_nd.png" alt="" title="">
													</a>
												</figure>
												<h3>
													<a href="#" target="_blank">
														ODC1237
													</a>
												</h3>
											</div>
										</td>
										<td>Merah</td>
										<td>100 x 150 x 60 cm</td>
										<td>
											Plastik
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>

				</div>

			</div>


			<!-- <div class="ol-dashboard__content-form">
				<div class="ol-dashboard__content-form-list">

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<h5 class="ol-dashboard__content-table-top-title">
							Kategori Warna
						</h5>

						<div class="ol-dashboard__content-form-list-item-cat-choice">
							<div>
								<small>Putih</small>
								<small>Merah</small>
								<small>Kuning</small>
							</div>
						</div>

					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<h5 class="ol-dashboard__content-table-top-title">
							Kategori Material
						</h5>

						<div class="ol-dashboard__content-form-list-item-cat-choice">
							<div>
								<small>Plastik</small>
								<small>Besi</small>
							</div>
						</div>
					</div>

				</div>
			</div> -->


			<div class="ol-dashboard__content-button">
				<button class="ol-btn ol-btn--secondary" onclick="back()"><i class="ol-fa fas fa-times"></i> Batal</button>
				<button class="ol-btn"><i class="ol-fa far fa-save"></i> Simpan</button>
			</div>

		</form>

	</div>



@@include('./_components/end-html.html')
<script>
	CKEDITOR.replace( 'editor1' );
	CKEDITOR.replace( 'editor2' );
</script>