@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">MANAJEMEN PRODUK</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Marketing</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Produk</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Daftar Produk
				</h5>
				<a href="product-add.html" class="ol-btn"><i class="fas fa-plus-circle"></i> Tambah Produk</a>
			</div>

			<div class="ol-dashboard__content-table-wrapper">

				<table class="ol-table ol-dttable">
					<thead>
						<tr>
							<th class="ol-table__30">No</th>
							<th class="ol-table__150">Produk</th>
							<th>Kategori</th>
							<th>Brand</th>
							<th>Warna</th>
							<th class="ol-table__40">Aksi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>
								<div class="ol-table__product">
									<figure>
										<a href="#" target="_blank">
											<img src="images/rumakamu_nd.png" alt="" title="">
										</a>
									</figure>
									<h3>
										<a href="#" target="_blank">
											Rak Susun RSO
										</a>
										<span>KLS</span>
									</h3>
								</div>
							</td>
							<td>Sofa, Sofa Panjang, Sofa Luas</td>
							<td>Olymplast</td>
							<td>Merah, Kuning, Biru</td>
							<td>
								<a class="ol-table__ico" href="product-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>
								<div class="ol-table__product">
									<figure>
										<a href="#" target="_blank">
											<img src="images/rumakamu_nd.png" alt="" title="">
										</a>
									</figure>
									<h3>
										<a href="#" target="_blank">
											Kursi Susun RSO
										</a>
										<span>RSO</span>
									</h3>
								</div>
							</td>
							<td>Sofa, Sofa Panjang, Sofa Luas</td>
							<td>Olymplast</td>
							<td>Merah, Kuning, Biru</td>
							<td>
								<a class="ol-table__ico" href="product-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>
								<div class="ol-table__product">
									<figure>
										<a href="#" target="_blank">
											<img src="images/rumakamu_nd.png" alt="" title="">
										</a>
									</figure>
									<h3>
										<a href="#" target="_blank">
											Rak Susun RSO
										</a>
										<span>KLS</span>
									</h3>
								</div>
							</td>
							<td>Sofa, Sofa Panjang, Sofa Luas</td>
							<td>Bearland</td>
							<td>Merah, Kuning, Biru</td>
							<td>
								<a class="ol-table__ico" href="product-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td>
								<div class="ol-table__product">
									<figure>
										<a href="#" target="_blank">
											<img src="images/rumakamu_nd.png" alt="" title="">
										</a>
									</figure>
									<h3>
										<a href="#" target="_blank">
											Kursi Susun RSO
										</a>
										<span>RSO</span>
									</h3>
								</div>
							</td>
							<td>Sofa, Sofa Panjang, Sofa Luas</td>
							<td>Olympic</td>
							<td>Merah, Kuning, Biru</td>
							<td>
								<a class="ol-table__ico" href="product-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>


@@include('./_components/end-html.html')