@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">LAPORAN PENJUALAN</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Laporan Penjualan</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					GRAFIK PENJUALAN
				</h5>
			</div>

			<div class="ol-dashboard__content-table-filter ol-dashboard__content-table-filter--select">

				<div class="ol-dashboard__content-form-list ol-dashboard__content-form-list--select">
					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-select">
							<label class="ol-input-label-2" style="width:35%;">Periode Data</label>

							<div class="ol-select-box" style="width:65%;">
								<select class="ol-input ol-input--select">
									<option value="1">Real Time (Hari Ini)</option>
									<option value="2">Kemarin</option>
									<option value="3">Minggu Ini</option>
									<option value="3">Bulan Ini</option>
									<option value="3">Tahun Ini</option>
								</select>
							</div>
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-select">
							<div class="ol-select-box">
								<select class="ol-input ol-input--select">
									<option value="1">Global</option>
									<option value="2">Daerah</option>
									<option value="3">Mitra</option>
								</select>
							</div>
							<div class="ol-select-box">
								<select class="ol-input ol-input--select">
									<option value="1">Global</option>
									<option value="2">Daerah</option>
									<option value="3">Mitra</option>
								</select>
							</div>
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-select">
							<div class="ol-select-box">
								<select class="ol-input ol-input--select">
									<option value="1">Brand</option>
									<option value="2">Kategori</option>
									<option value="3">Umur</option>
									<option value="4">Jenis Kelamin</option>
								</select>
							</div>
							<div class="ol-select-box">
								<select class="ol-input ol-input--select">
									<option value="1">Olympast</option>
									<option value="2">Frontline</option>
									<option value="3">Procella</option>
									<option value="3">Bearland</option>
								</select>
							</div>
						</div>
					</div>

				</div>
				
			</div>


			<div class="ol-dashboard__content-table-graphic">
				<div class="ol-dashboard__content-table-graphic-top">
				</div>
				<div class="ol-dashboard__content-table-graphic-wrapper">
					<div class="ol-dashboard__content-table-graphic-content">						
					<script src="https://code.highcharts.com/highcharts.js"></script>
						<script src="https://code.highcharts.com/modules/series-label.js"></script>
						<script src="https://code.highcharts.com/modules/exporting.js"></script>
						<script src="https://code.highcharts.com/modules/export-data.js"></script>
						<script src="https://code.highcharts.com/modules/accessibility.js"></script>


						<style>
							
						</style>

						<figure class="highcharts-figure">
						  <div id="container"></div>
						</figure>


						<script>
							Highcharts.chart('container', {

							  title: {
							    text: ''
							  },

							  subtitle: {
							    text: 'Hari ini - Pukul 08.00',
							    align: 'left',
							  },

							  credits: {
								    position: {
								        align: 'right',
								        verticalAlign: 'bottom',
								        x: 0,
								        y: 10
								    }
								},

							  yAxis: {
							    title: {
							      text: ''
							    }
							  },

							  xAxis: {
							    title: {
							      text: ''
							    }
							  },

							  legend: {
							    layout: 'horizontal',
							    align: 'right',
							    verticalAlign: 'top',
							    floating: true,
							  },

							  tooltip: {
							    shared: true,
							    crosshairs: true,
							    backgroundColor: '#fefefe',
							    borderColor: '#fefefe',
							    borderWidth: 1,
							    headerFormat: '<strong style="font-size:14px;">Hari ini - Pukul  {point.x}.00</strong><br><br>',
        						// 	
							  },

							  plotOptions: {
							    series: {
							      label: {
							        connectorAllowed: false
							      },
									pointStart: 0,
							    }
							  },

							  series: [{
							    name: 'Penjualan',
							    data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175],
							     fillColor: '#5bc5d2',
									lineColor: '#5bc5d2',
							  }, {
							    name: 'Pesanan',
							    data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434],
							    fillColor: '#0f6489',
									lineColor: '#0f6489',
							  }, {
							    name: 'Dilihat',
							    data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387],
							    fillColor: '#d2e28a',
									lineColor: '#d2e28a',
							  }],

							  responsive: {
							    rules: [{
							      condition: {
							        maxWidth: 500
							      },
							      chartOptions: {
							        legend: {
							          layout: 'horizontal',
							          align: 'center',
							          verticalAlign: 'top'
							        }
							      }
							    }]
							  }

							});
						</script>


					</div>
					<div class="ol-dashboard__content-table-graphic-filter">
						<div class="ol-dashboard__content-table-graphic-filter-item">
							<p>Total Penjualan</p>
							<h4>Rp 99.999.999.999</h4>
							<div>
								<span>vs kemarin</span>
								<small>
									5% <i class="ol-fa fas fa-arrow-up"></i>
								</small>
							</div>
						</div>
						<div class="ol-dashboard__content-table-graphic-filter-item">
							<p>Total Pesanan</p>
							<h4>Rp 99.999.999.999</h4>
							<div>
								<span>vs kemarin</span>
								<small>
									5% <i class="ol-fa fas fa-arrow-down"></i>
								</small>
							</div>
						</div>
						<div class="ol-dashboard__content-table-graphic-filter-item">
							<p>Banyak Dilihat</p>
							<h4>Rp 99.999.999.999</h4>
							<div>
								<span>vs kemarin</span>
								<small>
									5% <i class="ol-fa fas fa-arrow-up"></i>
								</small>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					PERINGKAT PRODUK
				</h5>
			</div>

			<div class="ol-dashboard__content-table-filter ol-dashboard__content-table-filter--select">

				<div class="ol-dashboard__content-form-list ol-dashboard__content-form-list--select">
					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-select">
							<label class="ol-input-label-2" style="width:35%;">Periode Data</label>

							<div class="ol-select-box" style="width:65%;">
								<select class="ol-input ol-input--select">
									<option value="1">Real Time (Hari Ini)</option>
									<option value="2">Kemarin</option>
									<option value="3">Minggu Ini</option>
									<option value="3">Bulan Ini</option>
									<option value="3">Tahun Ini</option>
								</select>
							</div>
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-select">
							<div class="ol-select-box">
								<select class="ol-input ol-input--select">
									<option value="1">Global</option>
									<option value="2">Daerah</option>
									<option value="3">Mitra</option>
								</select>
							</div>
							<div class="ol-select-box">
								<select class="ol-input ol-input--select">
									<option value="1">Global</option>
									<option value="2">Daerah</option>
									<option value="3">Mitra</option>
								</select>
							</div>
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-select">
							<div class="ol-select-box">
								<select class="ol-input ol-input--select">
									<option value="1">Brand</option>
									<option value="2">Kategori</option>
									<option value="3">Umur</option>
									<option value="4">Jenis Kelamin</option>
								</select>
							</div>
							<div class="ol-select-box">
								<select class="ol-input ol-input--select">
									<option value="1">Olympast</option>
									<option value="2">Frontline</option>
									<option value="3">Procella</option>
									<option value="3">Bearland</option>
								</select>
							</div>
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
						<div class="ol-dashboard__content-form-list-item-select">
							<label class="ol-input-label-2" style="width:auto;margin-top:10px;">Berdasarkan</label>

							<div class="ol-select-box ol-select-box--nav">
								<div class="ol-dashboard__content-form-list-item-nav">
									<a class="ol-dashboard__content-form-list-item-nav-link active" onclick="changeTable(this, 1)">Rating</a>
									<a class="ol-dashboard__content-form-list-item-nav-link" onclick="changeTable(this, 2)">Penjualan</a>
									<a class="ol-dashboard__content-form-list-item-nav-link" onclick="changeTable(this, 3)">Quantity</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				
			</div>


			<div class="ol-dashboard__content-table-wrapper-list">

				<div id="table1" class="ol-dashboard__content-table-wrapper show">

					<table class="ol-table ol-table--default" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th class="ol-table__150">Peringkat</th>
								<th>Info Produk</th>
								<th class="ol-table__150">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
							<tr>
								<td>4</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
							<tr>
								<td>5</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="table2" class="ol-dashboard__content-table-wrapper">

					<table class="ol-table ol-table--default" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th class="ol-table__150">Peringkat</th>
								<th>Info Produk</th>
								<th class="ol-table__150">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>2</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
							<tr>
								<td>4</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
							<tr>
								<td>5</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="table3" class="ol-dashboard__content-table-wrapper">

					<table class="ol-table ol-table--default" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th class="ol-table__150">Peringkat</th>
								<th>Info Produk</th>
								<th class="ol-table__150">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>3</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
							<tr>
								<td>4</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
							<tr>
								<td>5</td>
								<td>
									<div class="ol-table__product">
										<figure>
											<a href="#" target="_blank">
												<img src="images/rumakamu_nd.png" alt="" title="">
											</a>
										</figure>
										<h3>
											<a href="#" target="_blank">
												Produk sofa murah dan bagus joss pokoknya
											</a>
											<span>Rp 760.000</span>
										</h3>
									</div>
								</td>
								<td>
									<span class="ol-number">Rp 431.000.000</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>




		</div>

	</div>


@@include('./_components/end-html.html')