@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-dashboard__content">


	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">TOP PRODUK</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Konfirgurasi Web</span> /
			<span class="ol-dashboard__breadcrumb-link">Top Produk</span>
		</div>
	</div>



	<div class="ol-dashboard__content-wrapper">


		<div class="ol-dashboard__content-table--list">
		

			<div class="ol-dashboard__content-table">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Daftar Produk Terlaris


						<span class="ol-dashboard__content-table-top-switch">
							Otomatis oleh sistem
							<label class="switch">
							  <input type="checkbox">
							  <span class="slider round"></span>
							</label>
						</span>


					</h5>
					<a onclick="showPopup()" class="ol-link">+ Tambah Produk</a>
				</div>
				<div class="ol-dashboard__content-table-wrapper">
					<table class="ol-table ol-dttable">
						<thead>
							<tr>
								<th class="ol-table__30">No</th>
								<th>Nama</th>
								<th>Tipe</th>
								<th>Warna</th>
								<th>Harga</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Sofa LKM</td>
								<td>Three Seater</td>
								<td>Green</td>
								<td><span class="ol-number">Rp 99.999.999</span></td>
								<td>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Sofa LKM</td>
								<td>Three Seater</td>
								<td>Green</td>
								<td><span class="ol-number">Rp 99.999.999</span></td>
								<td>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Sofa LKM</td>
								<td>Three Seater</td>
								<td>Green</td>
								<td><span class="ol-number">Rp 99.999.999</span></td>
								<td>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<div class="ol-dashboard__content-table">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Daftar Produk Terpopuler

						<span class="ol-dashboard__content-table-top-switch">
							Otomatis oleh sistem
							<label class="switch">
							  <input type="checkbox">
							  <span class="slider round"></span>
							</label>
						</span>
					</h5>
					<a onclick="showPopup()" class="ol-link">+ Tambah Produk</a>
				</div>
				<div class="ol-dashboard__content-table-wrapper">
					<table class="ol-table ol-dttable">
						<thead>
							<tr>
								<th class="ol-table__30">No</th>
								<th>Nama</th>
								<th>Tipe</th>
								<th>Warna</th>
								<th>Harga</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Sofa LKM</td>
								<td>Three Seater</td>
								<td>Green</td>
								<td><span class="ol-number">Rp 99.999.999</span></td>
								<td>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Sofa LKM</td>
								<td>Three Seater</td>
								<td>Green</td>
								<td><span class="ol-number">Rp 99.999.999</span></td>
								<td>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Sofa LKM</td>
								<td>Three Seater</td>
								<td>Green</td>
								<td><span class="ol-number">Rp 99.999.999</span></td>
								<td>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>


			<div class="ol-dashboard__content-table">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Daftar Produk Terbaru

						<span class="ol-dashboard__content-table-top-switch">
							Otomatis oleh sistem
							<label class="switch">
							  <input type="checkbox">
							  <span class="slider round"></span>
							</label>
						</span>
					</h5>
					<a onclick="showPopup()" class="ol-link">+ Tambah Produk</a>
				</div>
				<div class="ol-dashboard__content-table-wrapper">
					<table class="ol-table ol-dttable">
						<thead>
							<tr>
								<th class="ol-table__30">No</th>
								<th>Nama</th>
								<th>Tipe</th>
								<th>Warna</th>
								<th>Harga</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Sofa LKM</td>
								<td>Three Seater</td>
								<td>Green</td>
								<td><span class="ol-number">Rp 99.999.999</span></td>
								<td>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Sofa LKM</td>
								<td>Three Seater</td>
								<td>Green</td>
								<td><span class="ol-number">Rp 99.999.999</span></td>
								<td>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Sofa LKM</td>
								<td>Three Seater</td>
								<td>Green</td>
								<td><span class="ol-number">Rp 99.999.999</span></td>
								<td>
									<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

		</div>


		<div class="ol-popup ol-popup--general">
				<div class="ol-popup-wrapper">

					<div class="ol-popup-box ol-popup-box--address">

						<a class="ol-popup-box__close" onclick="showPopup()">
							<i class="ol-fa fas fa-times"></i>
						</a>



						<div class="ol-dashboard__content-table">
							<div class="ol-dashboard__content-table-top">
								<h5 class="ol-dashboard__content-table-top-title">
									Daftar Produk
								</h5>
								<div class="ol-dashboard__content-table-top-search">
									<i class="ol-fa fas fa-search"></i>
									<input type="text" id="dtsearch" class="ol-input" placeholder="Pencarian Produk">
									<a href="banner-add.html" class="ol-btn"><i class="fas fa-plus-circle"></i> Tambah</a>
								</div>
							</div>
							<div class="ol-dashboard__content-table-wrapper ol-dashboard__content-table-wrapper--popup">
								<table class="ol-table ol-dttable--popup">
									<thead>
										<tr>
											<th>Pilih</th>
											<th>Nama</th>
											<th>Tipe</th>
											<th>Warna</th>
											<th>Harga</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td></td>
											<td>Sofa LKM</td>
											<td>Three Seater</td>
											<td>Green</td>
											<td><span class="ol-number">Rp 99.999.999</span></td>
										</tr>
										<tr>
											<td></td>
											<td>Sofa LKM</td>
											<td>Three Seater</td>
											<td>Green</td>
											<td><span class="ol-number">Rp 99.999.999</span></td>
										</tr>
										<tr>
											<td></td>
											<td>Sofa LKM</td>
											<td>Three Seater</td>
											<td>Green</td>
											<td><span class="ol-number">Rp 99.999.999</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
					</div>

				</div>
			</div>

	</div>


@@include('./_components/end-html.html')