@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-dashboard__content">


	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">TIPE PRODUK</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Manajemen Produk</span> /
			<span class="ol-dashboard__breadcrumb-link">Tipe Produk</span>
		</div>
	</div>



	<div class="ol-dashboard__content-wrapper">
		
		<form action="cat-product-real.html">

			<div class="ol-dashboard__content-form">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Tambah Tipe Produk
					</h5>
				</div>
				<div class="ol-dashboard__content-form-list">

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show"><i>*</i> Kategori</label>
							<select class="ol-input ol-input-select" id="category">
								<option></option>
								<option value="1">Sofa</option>
								<option value="2">Kursi</option>
								<option value="3">Meja</option>
							</select>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show"><i>*</i> Sub Kategori</label>
							<select class="ol-input ol-input-select" id="subcategory">
								<option></option>
								<option value="1">Sofa</option>
								<option value="2">Kursi</option>
								<option value="3">Meja</option>
							</select>
						
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Tipe Produk</label>
						<input type="Text" class="ol-input" placeholder="Tipe Produk">
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label ol-input-label--show"><i>*</i> Ikon Tipe Produk</label>
						<div class="ol-dashboard__content-form-list-item-ico">
							<input type="file" class="ol-input ol-input-file" placeholder="Gambar">
							<i class="ol-fa far fa-image"></i>
						</div>
						<small class="ol-dashboard__content-form-list-notif">Ukuran maksimal 100Kb.</small>
					</div>
				</div>
			</div>


			<div class="ol-dashboard__content-button">
				<button class="ol-btn ol-btn--secondary" onclick="back()"><i class="ol-fa fas fa-times"></i> Batal</button>
				<button class="ol-btn"><i class="ol-fa far fa-save"></i> Simpan</button>
			</div>

		</form>

	</div>


@@include('./_components/end-html.html')