@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-dashboard__content">
	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">VOUCHER</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Konfirgurasi Web</span> /
			<span class="ol-dashboard__breadcrumb-link">Voucher</span>
		</div>
	</div>


	<div class="ol-dashboard__content-wrapper">

		<div class="ol-dashboard__content-table">
			<div class="ol-dashboard__content-table-top">
				<h5 class="ol-dashboard__content-table-top-title">
					Daftar Voucher
				</h5>
				<a href="voucher-add.html" class="ol-btn"><i class="fas fa-plus-circle"></i> Tambah Voucher</a>
			</div>
			<div class="ol-dashboard__content-table-wrapper">
				<table class="ol-table ol-dttable">
					<thead>
						<tr>
							<th>No</th>
							<th>Voucher</th>
							<th>Masa Berlaku</th>
							<th>Syarat & Ketentuan</th>
							<th>Modifikasi Terakhir</th>
							<th>Aksi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Voucher 12.12</td>
							<td>12/12/2020</td>
							<td>Lorem ipsum dolor sit ...</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="banner-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Voucher 12.12</td>
							<td>12/12/2020</td>
							<td>Lorem ipsum dolor sit ...</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="banner-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Voucher 12.12</td>
							<td>12/12/2020</td>
							<td>Lorem ipsum dolor sit ...</td>
							<td>27/07/2020 | 14.34 WIB</td>
							<td>
								<a class="ol-table__ico" href="banner-add.html" title="Ubah"><i class="fas fa-edit"></i></a>
								<span class="ol-table__ico ol-btn-del" title="Hapus"><i class="fas fa-trash-alt"></i></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>


@@include('./_components/end-html.html')