@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-dashboard__content">


	<div class="ol-dashboard__content-top">
		<h4 class="ol-dashboard__title">VOUCHER</h4>
		<div class="ol-dashboard__breadcrumb">
			<span class="ol-dashboard__breadcrumb-link">Dashboard</span> /
			<span class="ol-dashboard__breadcrumb-link">Konfirgurasi Web</span> /
			<span class="ol-dashboard__breadcrumb-link">Voucher</span>
		</div>
	</div>



	<div class="ol-dashboard__content-wrapper">
		
		<form action="voucher.html">

			<div class="ol-dashboard__content-form">
				<div class="ol-dashboard__content-table-top">
					<h5 class="ol-dashboard__content-table-top-title">
						Tambah Voucher
					</h5>
				</div>
				<div class="ol-dashboard__content-form-list">
					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<label class="ol-input-label"><i>*</i> Voucher</label>
						<input type="Text" class="ol-input" placeholder="Voucher">
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label ol-input-label--show"><i>*</i> Masa Berlaku</label>
							<input type="date" class="ol-input" placeholder="Akhir">
							<i class="ol-fa far fa-calendar-alt"></i>
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-ico">
							<label class="ol-input-label">Presentase</label>
							<input type="text" class="ol-input" placeholder="Presentase">
							<span class="ol-fa" style="top:5px;">%</span>
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--half">
						<div class="ol-dashboard__content-form-list-item-nominal">
							<label class="ol-input-label"><i>*</i> Nominal</label>
							<input type="text" class="ol-input" placeholder="Nominal">
							<span class="ol-fa">Rp</span>
						</div>
					</div>

					<div class="ol-dashboard__content-form-list-item ol-dashboard__content-form-list-item--full">
						<label class="ol-input-label"><i>*</i> Syarat & Ketentuan</label>
						<textarea class="ol-input ol-input-textarea" placeholder="Syarat & Ketentuan"></textarea>
					</div>
				</div>
			</div>


			<div class="ol-dashboard__content-button">
				<button class="ol-btn ol-btn--secondary" onclick="back()"><i class="ol-fa fas fa-times"></i> Batal</button>
				<button class="ol-btn"><i class="ol-fa far fa-save"></i> Simpan</button>
			</div>

		</form>

	</div>


@@include('./_components/end-html.html')